@charset "UTF-8";
/*
 * htmlのフォントサイズ
 * @args ベースの画面幅
 */
/*
 * ルートのフォントサイズを基準にフォントサイズを可変にする（SPはrootPxを設定しておくこと）
 * @args 最大値（デザイン上の数値）
 */
/*
 * get_vwの設定
 */
/*
 * breakpointの設定
 */
:root {
  --main-text-color: #414846;
  --main-color-white: #FFF;
  --main-color: #00a384;
  --main-color-bg: #009578;
  --main-color-bg-other: #008D72;
  --main-color-black: #262928;
  --base-color: #EFF4F3;
  --btn-color-orange: #EF8112;
  --btn-color-green: #0A6460;
  --btn-color-dark-green: #053B39;
  --border-color-green: #CEDCD9;
  --main-title-color: #00A384;
  --main-title-background-color: #0A6460;
  --footer--other--orange: #E5923E;
  --main-section-bg: #DEEAE7;
  --border-line: #47A086;
  --note-red: #DB4F4F;
}

html {
  font-size: 0.6510416667vw;
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
}

body {
  background: var(--base-color);
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
  color: var(--main-color-black);
  font-weight: 500;
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

button {
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  padding-top: clamp(10px, 5.5338541667vw, 85px);
  position: relative;
}

.footer {
  margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  opacity: 0.8;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 2.6666666667vw;
  }
  body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }
  .main {
    padding-top: 50px;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}