@charset "UTF-8";
/*
 * htmlのフォントサイズ
 * @args ベースの画面幅
 */
/*
 * ルートのフォントサイズを基準にフォントサイズを可変にする
 * @args 最大値（デザイン上の数値）
 */
/*
 * get_vwの設定
 */
/*
 * breakpointの設定
 */
:root {
  --main-text-color: #414846;
  --main-text-color-white: #FFFFFF;
  --main-color: #009875;
  --main-color-black: #262928;
}

html {
  font-size: 0.6510416667vw;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  opacity: 0.8;
}