@charset "UTF-8";
/*
 * htmlのフォントサイズ
 * @args ベースの画面幅
 */
/*
 * ルートのフォントサイズを基準にフォントサイズを可変にする
 * @args 最大値（デザイン上の数値）
 */
/*
 * get_vwの設定
 */
/*
 * breakpointの設定
 */
.tal {
  text-align: left !important;
}

.dc {
  display: contents !important;
}

.fl {
  float: left !important;
}

.header {
  position: absolute;
  width: 100%;
  height: clamp(10px, 5.5338541667vw, 85px);
}
.header.header--white {
  background: #fff;
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 2.6041666667vw 0 2.0182291667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__inner .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__left .header__logo {
  width: clamp(10px, 18.8802083333vw, 290px);
}
.header .header__inner .header__left .header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__left .header__info .header__icon--tel {
  width: 2.2786458333vw;
}
.header .header__inner .header__nav {
  height: 100%;
}
.header .header__inner .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.header .header__inner .header__list .header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.3020833333vw;
  padding: 0 1.3671875vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272E2C;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: clamp(10px, 1.5rem, 15px);
  font-weight: bold;
}
.header .header__inner .header__list .header__item:first-child {
  padding-left: 0;
}
.header .header__inner .header__list .header__item:last-child {
  margin-right: 0;
}
.header .header__inner .header__list .header__item.header__item--active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: var(--main-color);
}
.header .header__inner .header__list .header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__inner .header__list .header__link:before {
  content: "";
  position: absolute;
  width: 0.78125vw;
  height: 100%;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon/icon-arrow-bottom--black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.header .header__inner .header__mobile-nav {
  display: none;
}
.header .header__inner .header__hamburger {
  display: none;
}

.footer {
  width: 100%;
}
.footer .footer-access {
  width: 100%;
  background: #DFEBE8;
}
.footer .footer-access .footer-access__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.9479166667vw 0 8.1380208333vw 8.3984375vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-access .footer-access__inner .footer-access__left .section-title__wrapper {
  margin-bottom: 6.9661458333vw;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info {
  margin-bottom: 1.8880208333vw;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info .footer-access__info-name {
  margin-bottom: 1.2369791667vw;
  color: var(--main-color-black);
  font-size: clamp(10px, 2.1rem, 21px);
  font-weight: bold;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info .footer-access__info-address {
  margin-bottom: 1.3020833333vw;
  color: var(--main-color-black);
  font-size: clamp(10px, 1.9rem, 19px);
  font-weight: 300;
  line-height: 1.75;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info .footer-access__info-link {
  margin-left: 10px;
  color: var(--main-color);
  font-size: clamp(10px, 1.8rem, 18px);
  font-weight: bold;
  text-decoration: underline;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info .footer-access__info-tel {
  position: relative;
  padding-left: 2.9947916667vw;
  color: var(--main-color-black);
  font-family: din-2014, sans-serif;
  font-size: clamp(10px, 2.7rem, 27px);
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__info .footer-access__info-tel:before {
  content: "";
  position: absolute;
  display: block;
  width: 2.0182291667vw;
  height: 2.0182291667vw;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon/icon-tel--white_g.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__time .footer-access__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.6041666667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(10px, 1.8rem, 18px);
  font-weight: bold;
}
.footer .footer-access .footer-access__inner .footer-access__left .footer-access__time .footer-access__close .footer-access__close-title {
  margin-right: 0.9765625vw;
  color: var(--main-color);
}
.footer .footer-access .footer-access__inner .footer-access__right {
  margin-left: 3.9713541667vw;
}
.footer .footer-contact {
  background: var(--main-color-bg);
}
.footer .footer-contact .footer-contact__inner {
  width: 46%;
  margin: 0 auto;
  padding: 5.078125vw 0 8.1380208333vw;
}
.footer .footer-contact .footer-contact__inner .section-title__wrapper {
  margin-bottom: 2.5390625vw;
}
.footer .footer-contact .footer-contact__inner .section-title__wrapper .footer-contact__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.footer .footer-contact .footer-contact__inner .footer-contact__text {
  margin-bottom: 2.6041666667vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 1.8rem, 18px);
  text-align: center;
  line-height: 1.75;
}
.footer .footer-contact .footer-contact__inner .footer-contact__text-sub {
  margin-bottom: 1.3020833333vw;
}
.footer .footer-contact .footer-contact__inner .footer-contact__sub-title {
  margin-bottom: 1.6927083333vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 2rem, 20px);
  font-weight: bold;
  text-align: center;
}
.footer .footer-contact .footer-contact__inner .footer-contact__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.6458333333vw;
  gap: 0.9765625vw;
}
.footer .footer-contact .footer-contact__inner .footer-contact__btn-wrapper .btn {
  width: 50%;
}
.footer .footer-contact .footer-contact__inner .footer-contact__time {
  background: #40A7A2;
  border-radius: 5px;
}
.footer .footer-contact .footer-contact__inner .footer-contact__time .footer-contact__time-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.6276041667vw 0 1.6276041667vw 2.8645833333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-contact .footer-contact__inner .footer-contact__time .footer-contact__time-inner .footer-contact__tel {
  position: relative;
  padding-left: 3.90625vw;
  padding-right: 2.2135416667vw;
  color: var(--main-color-white);
  font-family: din-2014, sans-serif;
  font-size: clamp(10px, 3.5rem, 35px);
}
.footer .footer-contact .footer-contact__inner .footer-contact__time .footer-contact__time-inner .footer-contact__tel:before {
  content: "";
  position: absolute;
  display: block;
  width: 2.9296875vw;
  height: 2.9296875vw;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/icon/icon-tel--white_g.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.footer .footer-contact .footer-contact__inner .footer-contact__time .footer-contact__time-inner .footer-contact__time-text {
  color: var(--main-color-white);
  font-size: clamp(10px, 1.6rem, 16px);
  line-height: 1.5;
}
.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3671875vw 10.2864583333vw 9.1145833333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--main-color-black);
}
.footer .footer__inner .footer__logo {
  width: clamp(10px, 18.8802083333vw, 290px);
}
.footer .footer__inner .footer__copyright {
  color: var(--main-color-white);
  font-size: clamp(10px, 1.3rem, 13px);
}

.section-title__wrapper {
  position: relative;
}
.section-title__wrapper.--white .section-title {
  color: #fff;
}
.section-title__wrapper.--white .section-sub-title {
  color: var(--main-color);
}
.section-title__wrapper.--white .section-sub-title:before {
  background: var(--main-color);
}
.section-title__wrapper.--light_green .section-title {
  color: #22908C;
}
.section-title__wrapper.--light_green .section-sub-title {
  width: 100%;
  color: #fff;
  font-size: clamp(10px, 3.6rem, 36px);
}
.section-title__wrapper.--green .section-title {
  color: #0AA89B;
}
.section-title__wrapper.--green .section-sub-title {
  color: var(--main-color-white);
}
.section-title__wrapper.--green .section-sub-title:before {
  background: var(--main-color-white);
}
.section-title__wrapper.--left {
  text-align: left;
}
.section-title__wrapper.--left .section-sub-title {
  left: 0;
}
.section-title__wrapper.--center {
  text-align: center;
}
.section-title__wrapper.--center .section-sub-title {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-title__wrapper.--center .section-sub-title:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section-title__wrapper.--right {
  text-align: right;
}
.section-title__wrapper.--right .section-sub-title {
  right: 0;
}
.section-title__wrapper.--right .section-sub-title:before {
  right: 0;
}
.section-title__wrapper.--small .section-title {
  font-size: clamp(10px, 9.8rem, 98px);
}
.section-title__wrapper.--small .section-sub-title {
  font-size: clamp(10px, 4.2rem, 42px);
}
.section-title__wrapper .section-title {
  display: inline-block;
  font-family: din-2014, sans-serif;
  font-size: clamp(10px, 11.5rem, 115px);
  font-weight: bold;
}
.section-title__wrapper .section-sub-title {
  position: absolute;
  padding-bottom: 2.2786458333vw;
  bottom: -2.5520833333vw;
  font-size: clamp(10px, 4.6rem, 46px);
  font-weight: bold;
}
.section-title__wrapper .section-sub-title:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.5em;
  height: 2px;
  bottom: 0;
}

.btn {
  padding: 20px 0;
  border-radius: 5px;
  font-size: clamp(10px, 1.9rem, 19px);
  font-weight: bold;
  text-align: center;
}
.btn.btn--orange {
  color: var(--main-color-white);
  background: var(--btn-color-orange);
}
.btn.btn--white {
  background: var(--main-color-white);
}
.btn.btn--shadow {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(15, 78, 69, 0.5));
          filter: drop-shadow(5px 5px 5px rgba(15, 78, 69, 0.5));
}
.btn.btn--line span {
  position: relative;
  padding-left: 2.6041666667vw;
}
.btn.btn--line span:before {
  content: "";
  position: absolute;
  width: 1.6276041667vw;
  height: 1.4973958333vw;
  background-image: url(../images/icon/icon-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top .kv {
  position: relative;
}
.top .kv .kv__float-text {
  color: #358b81;
  font-size: clamp(10px, 1.3rem, 13px);
  -webkit-transform: translateY(-50%) rotate(270deg);
          transform: translateY(-50%) rotate(270deg);
  text-align: center;
  position: absolute;
  top: 45%;
  left: -6em;
}
.top .kv .kv__swiper-pagination {
  position: absolute;
  width: auto;
  bottom: 50%;
  left: calc(7% - 20px);
}
.top .kv .kv__swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
  margin: 15px var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background-color: var(--btn-color-orange);
  opacity: 1;
}
.top .kv .kv__swiper-pagination .swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  margin: 15px var(--swiper-pagination-bullet-horizontal-gap, 2px);
  opacity: 1;
}
.top .kv .kv__swiper {
  width: 93%;
  margin: 0 0 0 auto;
  overflow: hidden;
}
.top .kv .kv__swiper .swiper-wrapper {
  width: 100%;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  position: relative;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .kv_img {
  width: 100%;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .kv_img img {
  width: 100%;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea {
  width: 45%;
  position: absolute;
  top: 50%;
  right: 5.9244791667vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .txtArea__head {
  color: var(--main-color-white);
  font-size: clamp(10px, 10rem, 100px);
  font-family: din-2014, sans-serif;
  line-height: 1.3;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .txtArea__label {
  display: inline-block;
  margin-bottom: 1.2369791667vw;
  padding: 0.78125vw 1.8229166667vw 0.78125vw 0.9765625vw;
  color: var(--main-color-white);
  background: #00A384;
  font-size: clamp(10px, 1.9rem, 19px);
  font-weight: bold;
  -webkit-clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .txtArea__sub-title {
  margin-bottom: 2.0182291667vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 3.2rem, 32px);
  font-weight: bold;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .txtArea__text {
  margin-bottom: 2.0182291667vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.88;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .white_txt .date {
  margin-left: 7%;
  position: relative;
  color: var(--main-color-white);
  font-size: clamp(10px, 6.6rem, 66px);
  line-height: 1;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .white_txt .date::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-90deg);
          transform: translate(0, -50%) rotate(-90deg);
  left: -7%;
  content: "2022";
  color: var(--main-color-white);
  font-size: clamp(10px, 2.3rem, 23px);
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .feature__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .feature__box .feature__circle {
  position: relative;
  width: 10.6770833333vw;
  height: 10.6770833333vw;
  background: translate;
  border: 1px solid var(--main-color-white);
  border-radius: 50%;
}
.top .kv .kv__swiper .swiper-wrapper .swiper-slide .txtArea .feature__box .feature__circle .feature__circle-text {
  position: absolute;
  width: 100%;
  color: var(--main-color-white);
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: clamp(10px, 1.6rem, 16px);
  font-weight: 600;
  top: 50%;
  left: 50%;
  line-height: 1.3;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.top .medical-menu {
  width: 83%;
  margin: 0 auto;
  padding: 6.1197916667vw 0 16.2760416667vw;
}
.top .medical-menu .section-title__wrapper {
  margin-bottom: 7.2265625vw;
}
.top .medical-menu .medical-menu__list {
  display: grid;
  padding-bottom: 2.6041666667vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 4px;
}
.top .medical-menu .medical-menu__item {
  position: relative;
  padding: 0 2.2786458333vw 1.953125vw;
  background: var(--main-color-white);
  border-radius: 10px;
}
.top .medical-menu .medical-menu__item.medical-menu__item--01 {
  grid-area: 1/1/2/2;
}
.top .medical-menu .medical-menu__item.medical-menu__item--02 {
  grid-area: 1/2/2/3;
}
.top .medical-menu .medical-menu__item.medical-menu__item--03 {
  grid-area: 1/3/2/4;
}
.top .medical-menu .medical-menu__item.medical-menu__item--04 {
  grid-area: 1/4/2/5;
}
.top .medical-menu .medical-menu__item.medical-menu__item--05 {
  grid-area: 2/1/3/3;
  padding: 1.7578125vw 2.4088541667vw 1.953125vw 1.953125vw;
}
.top .medical-menu .medical-menu__item.medical-menu__item--05 .symptoms__list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top .medical-menu .medical-menu__item.medical-menu__item--05 .symptoms__list .symptoms__item {
  width: 48%;
}
.top .medical-menu .medical-menu__item.medical-menu__item--06 {
  grid-area: 2/3/3/5;
  padding: 1.7578125vw 2.4088541667vw 1.953125vw 1.953125vw;
}
.top .medical-menu .medical-menu__item.medical-menu__item--06 .symptoms__list {
  padding-top: 3.90625vw;
}
.top .medical-menu .medical-menu__item.medical-menu__item--dg {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-template-columns: 8.4635416667vw auto;
  grid-template-rows: 2.1484375vw auto;
  grid-column-gap: 1.953125vw;
  grid-row-gap: 1.953125vw;
}
.top .medical-menu .medical-menu__item.medical-menu__item--dg .medical-menu__head-img {
  grid-area: 1/1/3/2;
}
.top .medical-menu .medical-menu__item.medical-menu__item--dg .medical-menu__accordion {
  grid-area: 1/2/2/3;
}
.top .medical-menu .medical-menu__item.medical-menu__item--dg .symptoms__list {
  grid-area: 2/2/3/3;
}
.top .medical-menu .medical-menu__item .symptoms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  margin-bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--main-color-white);
  border: 1px solid #E7EDEC;
  border-radius: 6px;
  font-size: clamp(10px, 1.7rem, 17px);
  font-weight: bold;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, 0.5));
          filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, 0.5));
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item:after {
  content: "";
  position: absolute;
  width: 2.2135416667vw;
  height: 2.2135416667vw;
  background-image: url(../images/icon/icon-arrow-circle-right--white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.6510416667vw;
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item:hover {
  border: 1px solid var(--main-color);
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item:hover:after {
  background-image: url(../images/icon/icon-arrow-circle-right--green.svg);
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item .symptoms__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 4.2317708333vw 0 0.6510416667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top .medical-menu .medical-menu__item .symptoms__list .symptoms__item .symptoms__note {
  padding-left: 0.6510416667vw;
  font-size: clamp(10px, 1.3rem, 13px);
  font-weight: 300;
}
.top .medical-menu .medical-menu__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.8880208333vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img {
  margin-bottom: 1.4322916667vw;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-shoulder {
  width: 9.8307291667vw;
  margin-top: -2.0833333333vw;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-lower-back {
  width: 9.2447916667vw;
  margin-top: -1.4973958333vw;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-lower-limbs {
  width: 9.8307291667vw;
  margin-top: -2.0833333333vw;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-knee {
  width: 9.2447916667vw;
  margin-top: -2.0833333333vw;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-sports-injury {
  width: 9.765625vw;
  margin-bottom: 0;
}
.top .medical-menu .medical-menu__head .medical-menu__head-img.icon-growing-pain {
  width: 9.765625vw;
  margin-bottom: 0;
}
.top .medical-menu .medical-menu__head .medical-menu__accordion {
  color: var(--main-color);
  font-size: clamp(10px, 2.2rem, 22px);
  font-weight: bold;
  pointer-events: none;
}
.top .medical-menu .medical-menu-line {
  width: 100%;
  background: #DDE8E6;
  border-radius: 10px;
}
.top .medical-menu .medical-menu-line .medical-menu-line__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.7578125vw 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top .medical-menu .medical-menu-line .medical-menu-line__inner .medical-menu-line__text {
  margin-right: 2.8645833333vw;
  font-size: clamp(10px, 1.8rem, 18px);
  font-weight: bold;
}
.top .medical-menu .medical-menu-line .medical-menu-line__inner .medical-menu-line__link {
  padding: 0.9765625vw 2.734375vw 0.9765625vw 2.4088541667vw;
  background: var(--btn-color-orange);
  border-radius: 30px;
  color: var(--main-color-white);
  font-size: clamp(10px, 1.9rem, 19px);
  font-weight: bold;
  -webkit-filter: drop-shadow(2px 3px 3px rgba(24, 37, 63, 0.02));
          filter: drop-shadow(2px 3px 3px rgba(24, 37, 63, 0.02));
}
.top .medical-menu .medical-menu-line .medical-menu-line__inner .medical-menu-line__link span {
  position: relative;
  padding-left: 2.6041666667vw;
}
.top .medical-menu .medical-menu-line .medical-menu-line__inner .medical-menu-line__link span:before {
  content: "";
  position: absolute;
  width: 1.6276041667vw;
  height: 1.4973958333vw;
  background-image: url(../images/icon/icon-line--white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top .message {
  width: 83%;
  margin: 0 auto 1.3020833333vw;
  background: var(--main-color-white);
  border-radius: 20px;
}
.top .message .message__inner {
  padding: 8.6588541667vw 6.3802083333vw;
}
.top .message .message__inner .message__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top .message .message__inner .message__top .message__img {
  position: relative;
  margin-top: -15.1692708333vw;
  margin-left: calc(-6.3802083333vw - 16%);
}
.top .message .message__inner .message__top .message__img .message__img-bg {
  position: absolute;
  top: 0;
  right: 0;
}
.top .message .message__inner .message__top .message__wrapper {
  margin-left: 6.7708333333vw;
}
.top .message .message__inner .message__top .message__wrapper .message__label {
  display: inline-block;
  padding: 0.5208333333vw 0.8463541667vw;
  margin-bottom: 1.8229166667vw;
  background: #008B86;
  color: var(--main-color-white);
  font-size: clamp(10px, 2rem, 20px);
  font-weight: bold;
}
.top .message .message__inner .message__top .message__wrapper .message__title {
  margin-bottom: 2.9296875vw;
  color: var(--main-color);
  font-size: clamp(10px, 3.8rem, 38px);
  font-weight: bold;
  line-height: 1.5;
}
.top .message .message__inner .message__top .message__wrapper .message__text {
  margin-bottom: 2.9296875vw;
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
}
.top .message .message__inner .message__top .message__wrapper .message__director {
  margin-bottom: 5.4036458333vw;
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
  text-align: right;
}
.top .message .profile {
  background: var(--base-color);
}
.top .message .profile .profile__accordion-head {
  padding: 22px;
  text-align: center;
}
.top .message .profile .profile__accordion-head .profile__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-color);
  font-size: clamp(10px, 2.2rem, 22px);
  font-weight: bold;
}
.top .message .profile .profile__accordion-head .profile__accordion .profile__accordion-circle {
  position: relative;
  display: inline-block;
  width: 2.2135416667vw;
  height: 2.2135416667vw;
  margin-left: 1.3020833333vw;
  background: var(--main-color-white);
  border-radius: 50%;
}
.top .message .profile .profile__accordion-head .profile__accordion .profile__accordion-circle:before {
  content: "";
  position: absolute;
  width: 47%;
  height: 2px;
  margin: 0 auto;
  background: #00a384;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.top .message .profile .profile__main .profile__inner {
  padding: 3.6458333333vw 4.7526041667vw;
}
.top .message .profile .profile__main .profile__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px 0;
}
.top .message .profile .profile__main .profile__body .profile__item {
  width: calc(50% - 15px);
}
.top .message .profile .profile__main .profile__body .profile__item:last-child {
  -ms-flex-item-align: center;
      align-self: center;
}
.top .message .profile .profile__main .profile__body .profile__item .profile__head {
  position: relative;
  margin-bottom: 0.9114583333vw;
  color: var(--main-color);
  font-size: clamp(10px, 2rem, 20px);
  font-weight: bold;
}
.top .message .profile .profile__main .profile__body .profile__item .profile__head:before {
  content: "";
  position: absolute;
  width: calc(100% - 2.5em);
  height: 1px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--main-color);
}
.top .message .profile .profile__main .profile__body .profile__item .profile__text {
  font-size: clamp(10px, 1.6rem, 16px);
  line-height: 1.66;
}
.top .message .profile .profile__main .profile__body .profile__item .profile__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top .message .profile .profile__main .profile__body .profile__item .profile__img-wrapper .profile__img {
  width: calc(50% - 6px);
}
.top .clinic-features {
  padding-top: 11.6536458333vw;
  background: var(--main-color);
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
          clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
}
.top .clinic-features .clinic-features__wrapper {
  position: relative;
}
.top .clinic-features .clinic-features__wrapper .section-title__wrapper {
  position: absolute;
  width: auto;
  top: 0;
  right: 14.453125vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__head-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: var(--main-color-white);
  font-family: din-2014, sans-serif;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__head-wrapper .clinic-features__head-label {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  top: 50%;
  left: -1em;
  font-size: clamp(10px, 1.6rem, 16px);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__head-wrapper .clinic-features__head {
  color: var(--main-color-white);
  font-size: clamp(10px, 11.1rem, 111px);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 {
  position: relative;
  padding: 7.4869791667vw 0 5.859375vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-img-wrapper {
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-body {
  position: absolute;
  top: 20.3125vw;
  left: 14.453125vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-body .clinic-features__head-wrapper {
  font-size: clamp(10px, 2rem, 20px);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-body .clinic-features__head-wrapper .clinic-features__head-label {
  top: 40%;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-body .clinic-features__head-wrapper .clinic-features__head {
  font-size: clamp(10px, 17.4rem, 174px);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-main p {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3em;
  background: var(--main-color-white);
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-main .clinic-features__01-main-title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-size: clamp(10px, 4.1rem, 41px);
  font-weight: bold;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-main .clinic-features__01-main-sub-title {
  margin-bottom: 2.2135416667vw;
  color: var(--main-color);
  font-size: clamp(10px, 2.1rem, 21px);
  font-weight: bold;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__01 .clinic-features__01-main .clinic-features__01-main-text {
  margin-bottom: 5px;
  font-size: clamp(10px, 1.8rem, 18px);
  font-weight: bold;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 {
  padding-bottom: 10.6119791667vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-left {
  position: relative;
  padding-left: 8.7890625vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-left:before {
  content: "";
  position: absolute;
  width: 24.1536458333vw;
  height: 24.4791666667vw;
  top: 0;
  left: 0;
  background-image: url(../images/bg-dot--white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-left .clinic-features__02-left-body .clinic-features__02-left-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.1901041667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-left .clinic-features__02-left-body .clinic-features__02-left-head .clinic-features__sub-title {
  margin-left: 2.1484375vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 3rem, 30px);
  font-weight: bold;
  line-height: 1.5;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-left .clinic-features__02-left-body .clinic-features__02-left-text {
  color: var(--main-color-white);
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__02 .clinic-features__02-wrapper .clinic-features__02-right {
  width: 100%;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 {
  padding-bottom: 15.4296875vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-left {
  margin-right: 5.4036458333vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-center {
  position: relative;
  width: 100%;
  top: 3.90625vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-center:before {
  content: "";
  position: absolute;
  width: 24.0885416667vw;
  height: 24.0885416667vw;
  top: 50%;
  right: 0;
  background-image: url(../images/bg-dot--white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-center .clinic-features__head-wrapper {
  margin-bottom: 1.3671875vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-center .clinic-features__sub-title {
  margin-bottom: 2.0182291667vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 3rem, 30px);
  font-weight: bold;
  line-height: 1.5;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-center .clinic-features__03-text {
  width: 80%;
  color: var(--main-color-white);
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__03 .clinic-features__03-wrapper .clinic-features__03-right {
  position: relative;
  top: 21.4192708333vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 {
  padding-bottom: 16.015625vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-left {
  margin-right: 7.8125vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-right {
  position: relative;
  padding-right: 5.2734375vw;
  top: 1.3020833333vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-right:before {
  content: "";
  position: absolute;
  width: 24.0885416667vw;
  height: 24.0885416667vw;
  top: 15%;
  right: 15%;
  background-image: url(../images/bg-dot--white.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-right .clinic-features__head-wrapper {
  padding-bottom: 1.3671875vw;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-right .clinic-features__sub-title {
  margin-bottom: 2.0182291667vw;
  color: var(--main-color-white);
  font-size: clamp(10px, 3rem, 30px);
  font-weight: bold;
  line-height: 1.5;
}
.top .clinic-features .clinic-features__wrapper .clinic-features__04 .clinic-features__04-wrapper .clinic-features__04-right .clinic-features__04-text {
  color: var(--main-color-white);
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
}
.top .treatment {
  padding-bottom: 3.6458333333vw;
}
.top .treatment .treatment-wrapper .section-title__wrapper {
  width: 83%;
  margin: 0 auto 6.7708333333vw;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7.8125vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item:nth-child(odd) .treatment__left {
  padding: 7.2916666667vw 5.2083333333vw 0 8.3984375vw;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item:nth-child(even) .treatment__right {
  padding: 7.2916666667vw 8.3984375vw 0 5.2083333333vw;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment__left {
  width: 60%;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3671875vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(10px, 3.6rem, 36px);
  font-weight: bold;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment__title img {
  width: 5.5989583333vw;
  height: 5.5989583333vw;
  margin-right: 1.171875vw;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment__text {
  margin-bottom: 3.4505208333vw;
  font-size: clamp(10px, 1.8rem, 18px);
  line-height: 1.75;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment-detail__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment-detail__list .treatment-detail__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  margin-bottom: 8px;
  padding: 0 1.3020833333vw 0 1.6276041667vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--main-color-white);
  border-radius: 6px;
  font-size: clamp(10px, 1.8rem, 18px);
  font-weight: bold;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment-detail__list .treatment-detail__item .treatment-detail__text {
  position: relative;
  padding-left: 1.1067708333vw;
}
.top .treatment .treatment-wrapper .treatment__list .treatment__item .treatment-detail__list .treatment-detail__item .treatment-detail__text:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  background: var(--main-color);
}
@media screen and (max-width: 767px) {
  .header {
    height: 50px;
    background: #fff;
  }
  .header .header__inner {
    padding: 0 20px;
  }
  .header .header__inner .header__left .header__logo {
    width: 100%;
    max-width: 246px;
  }
  .header .header__inner .header__nav {
    display: none;
  }
  .header .header__inner .header__mobile-nav {
    display: block;
  }
  .header .header__inner .header__mobile-nav.header__mobile-nav--active .header__drawer {
    display: block;
  }
  .header .header__inner .header__hamburger {
    display: block;
  }
  .header .header__inner .header__drawer {
    display: none;
  }
  .footer .footer__inner {
    padding: 21px 20px 29px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__inner .footer__logo {
    width: 100%;
    max-width: 265px;
    margin: 0 auto 19px;
  }
}