@charset "UTF-8";
/*
 * htmlのフォントサイズ
 * @args ベースの画面幅
 */
/*
 * ルートのフォントサイズを基準にフォントサイズを可変にする
 * @args 最大値（デザイン上の数値）
 */
/*
 * get_vwの設定
 */
.testa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(10px, 2rem, 20px);
}