@import 'foundation/mixin';

:root {
  --main-text-color: #414846;
  --main-color: #009875;
}

html {
  font-size: rootPx();
}

html,body {
	min-height: 100vh;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer {
	margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  opacity: 0.8;
}
