@import 'foundation/config';
@import 'foundation/mixin';

:root {
  --main-text-color: #414846;
  --main-text-color-white: #FFFFFF;
  --main-color: #009875;
  --main-color-black: #262928;
}

html {
  font-size: rootPx();
}

html,body {
	min-height: 100vh;
}

body {
  font-family: $fontFamilyYuGo;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer {
	margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  opacity: 0.8;
}
