@import 'foundation/config';
@import 'foundation/mixin';

:root {
  --main-text-color: #414846;
  --main-color-white: #FFF;
  --main-color: #009875;
  --main-color-bg: #008B86;
  --main-color-black: #262928;
  --base-color: #EFF4F3;
  --btn-color-orange: #EF8112;
}

html {
  font-size: rootPx();
}

html,body {
	min-height: 100vh;
}

body {
  background: var(--base-color);
  font-family: $fontFamilyYuGo;
}

p {
  color: var(--main-color-black);
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

.container {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer {
	margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:hover {
  opacity: 0.8;
}
