@use "sass:math";

.column {
  width: 100%;

  .column__wrapper {
    width: 72%;
    margin: 0 auto;
    padding: get_vw(100) 0 get_vw(200);

    @include sp {
      width: 92%;
      padding: get_vw(46, 375) 0 get_vw(100, 375);
    }
  }

  .column__search-area-body {
    padding: get_vw(40) get_vw(87);
  }

  .column__recommend {
    margin-bottom: get_vw(120);

    @include sp {
      margin-bottom: get_vw(80, 375);
    }
  }

  .column__list-wrapper {
    width: 100%;
    margin-bottom: get_vw(100);

    @include sp {
      margin-bottom: get_vw(80, 375);
    }

    .column__list {
      display: grid;
      max-width: 100%;
      margin: 0 auto;
      gap: get_vw(44) get_vw(46);
      grid-auto-rows: minmax(60px, auto);
      grid-template-columns: repeat(3, 30.5%);

      @include sp {
        gap: get_vw(10, 375) 0;
        grid-template-columns: 100%;
      }
    }

    .column__item {
      display: flex;
      background: var(--main-color-white);
      border-radius: 10px;
      cursor: pointer;
      flex-direction: column;
      filter: drop-shadow(2px 2px 2px rgba(38, 101, 98, 0.2));
    }

    .column__link {
      display: flex;
      padding: get_vw(30) get_vw(33) get_vw(43);
      flex-direction: column;
      flex-grow: 1;

      @include sp {
        padding: get_vw(20, 375);
      }
    }

    .column__head {
      width: 100%;
      height: get_vw(180);
      margin-bottom: get_vw(25);

      @include sp {
        height: get_vw(212, 375);
        margin-bottom: get_vw(15, 375);
      }

      img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        object-fit: cover;
      }
    }

    .column__body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .column__category-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: get_vw(6);

      @include sp {
        gap: get_vw(6, 375);
      }

      .column__category {
        padding: get_vw(8) get_vw(7);
        background: var(--footer--other--orange);
        color: var(--main-color-white);
        font-size: calcFz(14);
        font-weight: bold;

        @include sp {
          margin-bottom: get_vw(15, 375);
          padding: get_vw(8, 375) get_vw(7, 375);
        }
      }
    }

    .column__title {
      margin-bottom: get_vw(20);
      color: var(--main-color);
      font-size: calcFz(18);
      font-weight: bold;
      flex-grow: 1;
      line-height: 1.75;
      word-break: break-all;

      @include sp {
        margin-bottom: get_vw(15, 375);
      }
    }

    .column__date {
      margin-bottom: get_vw(20);
      font-size: calcFz(15);

      @include sp {
        margin-bottom: get_vw(15, 375);
        font-size: calcFz(12);
      }
    }

    .column__text {
      font-size: calcFz(15);
      line-height: 1.6;

      @include sp {
        font-size: calcFz(14);
      }
    }
  }

  .column__search-area {
    width: 100%;
    margin-bottom: get_vw(80);

    @include sp {
      margin-bottom: get_vw(30, 375);
    }

    .column__search-area-head {
      width: 100%;
      background: #c6dbd4;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      .column__search-area-head-inner {
        padding: get_vw(40) get_vw(87);

        @include sp {
          padding: get_vw(16, 375);
        }
      }
    }

    .column__search-area-list {
      display: flex;
      gap: 0 get_vw(40);

      @include sp {
        flex-direction: column;
        gap: get_vw(10, 375) 0;
      }
    }

    .column__search-area-link {
      display: flex;
      width: math.div(100%, 3);
      padding: get_vw(20);
      align-items: center;
      background: var(--main-color-white);
      border: 1px solid #e7edec;
      border-radius: 6px;
      filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, 0.5));

      @include sp {
        width: auto;
        padding: get_vw(17, 375) get_vw(20, 375);
      }

      &:before {
        content: "";
        position: absolute;
        width: get_vw(34);
        height: get_vw(34);
        background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--white.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: get_vw(10);

        @include sp {
          width: get_vw(25, 375);
          height: get_vw(25, 375);
          right: get_vw(10, 375);
        }
      }

      &:hover {
        border: 1px solid var(--main-color);

        &:before {
          background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--green.svg);
        }
      }
    }

    .column__search-area-text {
      color: var(--main-color);
      font-size: calcFz(17);
      font-weight: bold;
      line-height: 1.5;

      @include sp {
        font-size: calcFz(15);
      }
    }

    .column__search-area-body {
      background: #deeae7;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .column__tags-heading {
      margin-bottom: get_vw(44);
      color: #707070;
      font-family: $fontFamilyHiraGo;
      font-size: calcFz(20);
      text-align: center;

      @include sp {
        margin-bottom: get_vw(16, 375);
        font-size: calcFz(20);
        text-align: left;
      }
    }

    .column__tags {
      width: get_vw(574);
      margin: 0 auto get_vw(36);

      @include sp {
        width: 100%;
        margin: 0 auto get_vw(32, 375);
      }
    }

    .column__tags-list {
      display: flex;
      flex-wrap: wrap;
      gap: get_vw(10);

      @include sp {
        gap: get_vw(10, 375);
      }
    }

    .column__tags-label {
      display: flex;
      padding: get_vw(10);
      background: var(--main-color-white);
      border-radius: 2px;
      color: var(--main-color);
      font-size: calcFz(16);
      font-weight: bold;
      align-items: center;
      cursor: pointer;
      text-align: center;
      filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, 0.5));

      @include sp {
        padding: get_vw(7, 375);
        font-size: calcFz(15);
      }
    }

    input[name="column_tags[]"]:checked {
      & + .column__tags-label {
        background: var(--main-color);
        color: var(--main-color-white);
      }
    }

    .column__tags-button {
      .btn {
        margin: 0 auto;

        &:after {
          content: none;
        }
      }
    }
  }

  input[name="column_tags[]"] {
    display: none;
  }

  .search-box-wrapper {
    width: 52%;
    margin: 0 auto get_vw(24);

    @include sp {
      width: 100%;
      margin: 0 auto get_vw(16, 375);
    }
  }
}

.search-box {
  position: relative;
  width: 100%;

  .search-box__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: get_vw(18);

    @include sp {
      right: get_vw(20, 375);
    }

    img {
      width: get_vw(23);
      height: get_vw(23);

      @include sp {
        width: get_vw(17, 375);
        height: get_vw(17, 375);
      }
    }
  }
}

.search-box__input {
  width: 100%;
  padding: get_vw(22) get_vw(50) get_vw(22) get_vw(18);
  box-sizing: border-box;
  border: 1px solid #caddd9;
  border-radius: 10px;
  color: var(--main-color-black);
  font-size: calcFz(18);

  @include sp {
    padding: get_vw(17, 375) get_vw(45, 375) get_vw(17, 375) get_vw(24, 375);
  }

  &::placeholder {
    color: #d6d6d6;
  }

  &:focus-visible {
    outline: 1px solid var(--main-color);
  }
}

.column__heading-wrapper {
  margin-bottom: get_vw(56);
  text-align: center;

  @include sp {
    margin-bottom: get_vw(30, 375);
  }

  .column__heading-label {
    display: block;
    margin-bottom: get_vw(16);
    color: var(--main-color);
    font-family: $fontFamilyDin2014;
    font-size: calcFz(18);
    font-weight: bold;

    @include sp {
      margin-bottom: get_vw(12, 375);
      font-size: calcFz(12);
    }
  }

  .column__heading {
    position: relative;
    padding-bottom: get_vw(40);
    color: var(--main-color-black);
    font-size: calcFz(36);
    font-weight: bold;

    @include sp {
      padding-bottom: get_vw(20, 375);
      font-size: calcFz(21);
    }

    &:after {
      content: "";
      position: absolute;
      width: 1.5em;
      height: get_vw(3);
      background: var(--main-color);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }
  }

  &.column__heading-wrapper--related {
    .column__heading-label {
      color: var(--footer--other--orange);
    }

    .column__heading {
      color: var(--main-color-white);

      &:after {
        background: var(--main-color-white);
      }
    }
  }
}

.column-article {
  position: relative;
  width: 100%;

  .column-triangle {
    position: absolute;
    top: get_vw(-250);
    right: 0;
    z-index: -1;

    @include sp {
      width: 40%;
      top: -100px;
    }
  }

  .column-article__container {
    width: 85%;
    margin: 0 auto;
    padding: get_vw(68) 0 get_vw(92);

    @include sp {
      width: 89%;
      padding: get_vw(42, 375) 0 get_vw(80, 375);
    }
  }

  .column-article__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 15px;

    @include sp {
      flex-direction: column;
      gap: 60px 0;
    }
  }

  .column-article__main {
    width: 66%;
    background: var(--main-color-white);
    border-radius: 10px;

    @include sp {
      width: 100%;
    }
  }

  .column-article__date {
    margin-bottom: get_vw(20);
    color: var(--main-color);
    font-family: $fontFamilyDin2014;
    font-size: calcFz(21);
    font-weight: bold;

    @include sp {
      margin-bottom: get_vw(15, 375);
      font-size: calcFz(16);
    }
  }

  .column-article__title {
    margin-bottom: get_vw(73);
    font-size: calcFz(35);
    font-weight: bold;
    line-height: 1.5;

    @include sp {
      margin-bottom: get_vw(20, 375);
      font-size: calcFz(22);
    }
  }

  .column-article__tags-wrapper {
    display: flex;
    margin-bottom: get_vw(20);
    flex-wrap: wrap;
    gap: 10px;

    @include sp {
      margin-bottom: get_vw(20, 375);
      gap: 8px;
    }
  }

  .column-article__tags {
    padding: get_vw(6);
    font-size: calcFz(14);
    font-weight: bold;

    @include sp {
      padding: get_vw(8, 375);
      font-size: calcFz(13);
    }

    &.column-article__tags--category {
      border: 1px solid var(--main-color--orange);
      background: var(--footer--other--orange);
      color: var(--main-color-white);
    }

    &.column-article__tags--tag {
      background: var(--main-color-white);
      border: 1px solid var(--main-color);
      color: var(--main-color);
    }
  }

  .column-article__img {
    margin-bottom: get_vw(24);

    @include sp {
      margin-bottom: get_vw(28, 375);
    }
  }

  .column-article__lead {
    margin-bottom: get_vw(49);
    font-size: calcFz(18);
    line-height: 1.75;

    @include sp {
      margin-bottom: get_vw(49, 375);
      font-size: calcFz(15);
    }
  }

  .column-article__contents {
    margin-bottom: get_vw(96);

    @include sp {
      margin-bottom: get_vw(40, 375);
    }

    .column-article__contents-title {
      position: relative;
      margin-bottom: get_vw(10);
      padding: get_vw(8) get_vw(16);
      color: #0a6460;
      font-size: calcFz(18);
      font-weight: bold;

      @include sp {
        margin-bottom: get_vw(16, 375);
        padding: get_vw(4, 375) get_vw(12, 375);
        font-size: calcFz(16);
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 100%;
        background: var(--btn-color-green);
        border-radius: 10px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    ol {
      padding-left: get_vw(20);

      @include sp {
        padding-left: get_vw(18, 375);
      }
    }

    .column-article__contents-h2 {
      & > a {
        display: inline-block;
        margin-bottom: get_vw(12);
        color: var(--main-color);
        font-size: calcFz(18);
        font-weight: bold;
        line-height: 1.7;
        word-break: break-all;

        @include sp {
          margin-bottom: get_vw(12, 375);
          font-size: calcFz(16);
        }

        span {
          font-family: $fontFamilyYuGo !important;

          @include sp {
            font-family: $fontFamilyHiraGo !important;
          }
        }
      }
    }

    .column-article__contents-h3 {
      & > a {
        position: relative;
        display: inline-block;
        margin-bottom: get_vw(12);
        padding-left: get_vw(26);
        font-size: calcFz(18);
        line-height: 1.7;
        word-break: break-all;

        @include sp {
          margin-bottom: get_vw(12, 375);
          padding-left: get_vw(26, 375);
          font-size: calcFz(16);
        }

        span {
          font-family: $fontFamilyYuGo !important;

          @include sp {
            font-family: $fontFamilyHiraGo !important;
          }
        }

        &:before {
          content: "";
          position: absolute;
          width: get_vw(20);
          height: get_vw(20);
          background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--white.svg);
          background-repeat: no-repeat;
          background-size: contain;
          top: 0.3em;
          left: 0;

          @include sp {
            width: get_vw(18, 375);
            height: get_vw(18, 375);
          }
        }
      }
    }

    .column-article__contents-h4 {
      & > a {
        position: relative;
        display: inline-block;
        margin-bottom: get_vw(12);
        padding-left: get_vw(26);
        font-size: calcFz(18);
        line-height: 1.7;
        word-break: break-all;

        @include sp {
          margin-bottom: get_vw(12, 375);
          padding-left: get_vw(26, 375);
          font-size: calcFz(16);
        }

        span {
          font-family: $fontFamilyYuGo !important;

          @include sp {
            font-family: $fontFamilyHiraGo !important;
          }
        }

        &:before {
          content: "";
          position: absolute;
          width: get_vw(5);
          height: get_vw(8);
          background-image: url(#{$img-root-dir}/icon/icon-arrow-right--green.svg);
          background-repeat: no-repeat;
          background-size: contain;
          top: 0.7em;
          left: 5%;

          @include sp {
            width: get_vw(5, 375);
            height: get_vw(8, 375);
          }
        }
      }
    }
  }

  .column-article__body {
    h2 {
      margin-bottom: get_vw(40);
      padding: get_vw(15) get_vw(20);
      background: #0a6460;
      border-radius: 6px;
      color: var(--main-color-white);
      font-family: $fontFamilyYuGo !important;
      font-size: calcFz(27);
      font-weight: bold;
      line-height: 1.5;

      @include sp {
        margin-bottom: get_vw(40, 375);
        padding: get_vw(12, 375) get_vw(10, 375);
        font-family: $fontFamilyHiraGo !important;
        font-size: calcFz(18);
      }
      &:not(:first-child) {
        margin-top: get_vw(100);
      }

      span {
        font-family: $fontFamilyYuGo !important;

        @include sp {
          font-family: $fontFamilyHiraGo !important;
        }
      }
    }

    h3 {
      position: relative;
      margin-bottom: get_vw(30);
      padding-bottom: get_vw(20);
      border-bottom: 2px solid var(--border-color-green);
      color: var(--main-color);
      font-family: $fontFamilyYuGo !important;
      font-size: calcFz(24);
      font-weight: bold;

      @include sp {
        margin-bottom: get_vw(20, 375);
        padding-bottom: get_vw(13, 375);
        font-family: $fontFamilyHiraGo !important;
        font-size: calcFz(16);
        line-height: 1.6;
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 1.5em;
        border-bottom: 2px solid var(--main-color);
        bottom: -2px;
      }

      span {
        font-family: $fontFamilyYuGo !important;

        @include sp {
          font-family: $fontFamilyHiraGo !important;
        }
      }
    }

    h4 {
      margin-bottom: get_vw(20);
      color: var(--main-color-black);
      font-family: $fontFamilyYuGo !important;
      font-size: calcFz(18);
      font-weight: bold;
      line-height: 1.5;

      @include sp {
        margin-bottom: get_vw(15, 375);
        font-family: $fontFamilyHiraGo !important;
        font-size: calcFz(16);
      }

      span {
        font-family: $fontFamilyYuGo !important;

        @include sp {
          font-family: $fontFamilyHiraGo !important;
        }
      }
    }

    p {
      color: var(--main-color-black);
      font-family: $fontFamilyYuGo !important;
      font-size: calcFz(18);
      line-height: 1.75;
      margin-bottom: get_vw(20);

      @include sp {
        font-family: $fontFamilyHiraGo !important;
        font-size: calcFz(15);
      }

      span {
        font-family: $fontFamilyYuGo !important;

        @include sp {
          font-family: $fontFamilyHiraGo !important;
        }
      }
    }
  }

  .column-article__inner {
    padding: get_vw(60);

    @include sp {
      padding: get_vw(30, 375) get_vw(20, 375);
    }
  }

  .column-article__nav {
    display: flex;
    width: calc(100% - 66% - 15px);
    flex-direction: column;
    gap: 15px;

    @include sp {
      width: 100%;
      gap: 20px;
    }
  }

  .column-article__nav-wrapper {
    padding: get_vw(25) get_vw(20);
    background: var(--main-color-white);
    border-radius: 10px;

    @include sp {
      padding: get_vw(25, 375) get_vw(20, 375);
    }
  }

  .column-article__nav-title-wrapper {
    display: flex;
    margin-bottom: get_vw(30);
    padding-bottom: get_vw(24);
    border-bottom: 1px dotted var(--main-color);
    align-items: center;
    gap: 0 15px;

    @include sp {
      margin-bottom: get_vw(20, 375);
      padding-bottom: get_vw(24, 375);
      gap: 0 20px;
    }
  }

  .column-article__nav-title {
    color: var(--main-color-black);
    font-size: calcFz(20);
    font-weight: bold;
  }

  .column-article__nav-label {
    color: var(--main-color);
    font-family: $fontFamilyDin2014;
    font-size: calcFz(16);
    font-weight: bold;
  }

  .column-article__latest {
    width: 100%;
  }

  .column-article__latest-item {
    padding: get_vw(30) 0;
    border-top: 1px solid #cedcd9;

    @include sp {
      padding: get_vw(20, 375) 0;
    }

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  .column-article__latest-link {
    display: flex;
    align-items: flex-start;
    gap: 0 15px;

    @include sp {
      gap: 0 10px;
    }
  }

  .column-article__latest-img {
    width: get_vw(135);

    @include sp {
      width: get_vw(100, 375);
    }
  }

  .column-article__latest-body {
    width: get_vw(235);

    @include sp {
      width: get_vw(185, 375);
    }
  }

  .column-article__latest-title {
    margin-bottom: get_vw(12);
    color: var(--main-color);
    font-size: calcFz(17);
    font-weight: bold;
    line-height: 1.5;

    @include sp {
      margin-bottom: get_vw(12, 375);
    }
  }

  .column-article__latest-text {
    display: -webkit-box;
    margin-bottom: get_vw(15);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color: #9da7a6;
    font-size: calcFz(14);
    line-height: 1.4;

    @include sp {
      margin-bottom: get_vw(14, 375);
      -webkit-line-clamp: 4;
    }
  }

  .column-article__latest-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .column-article__latest-date {
    color: #9da7a6;
    font-family: $fontFamilyDin2014;
    font-size: calcFz(14);
  }

  .column-article__latest-more {
    position: relative;
    padding-left: get_vw(20);
    color: var(--main-color);
    font-size: calcFz(14);
    font-weight: bold;

    @include sp {
      padding-left: get_vw(20, 375);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: get_vw(16);
      height: get_vw(16);
      background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--green.svg);
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include sp {
        width: get_vw(16, 375);
        height: get_vw(16, 375);
      }
    }
  }

  .column-article__category {
    padding-bottom: get_vw(30);

    @include sp {
      padding-bottom: 0;
    }
  }

  .column-article__category-item {
    padding: get_vw(12) get_vw(10);
    border-bottom: 1px solid #cedcd9;

    @include sp {
      padding: get_vw(7, 375) get_vw(10, 375);
    }

    &:first-child {
      padding-top: 0;
    }
  }

  .column-article__category-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .column-article__category-text {
    color: var(--main-color);
    font-family: $fontFamilyDin2014;
    font-size: calcFz(16);
    font-weight: bold;
    line-height: 1.75;

    @include sp {
      font-size: calcFz(15);
    }
  }

  .column-article__category-circle {
    width: get_vw(33);

    @include sp {
      width: get_vw(33, 375);
    }
  }

  .column-article__tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: get_vw(10) get_vw(24);

    @include sp {
      gap: get_vw(10, 375) get_vw(24, 375);
    }
  }

  .column-article__tag-list-item {
    display: flex;
    align-items: center;
    background: var(--main-color-white);
    filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, 0.5));
  }

  .column-article__tag-list-link {
    padding: get_vw(11);

    @include sp {
      padding: get_vw(11, 375);
    }
  }

  .column-article__tag-list-text {
    color: var(--main-color);
    font-size: calcFz(16);
    font-weight: bold;
  }

  .search-box__input {
    border: none;
  }

  .column__related {
    width: 100%;
    margin-bottom: get_vw(200);
    background: var(--main-color);

    @include sp {
      margin-bottom: get_vw(100, 375);
    }
  }

  .column__related-inner {
    width: 72%;
    margin: 0 auto;
    padding: get_vw(70) 0 get_vw(90);

    @include sp {
      width: 92%;
      padding: get_vw(60, 375) 0 get_vw(90, 375);
    }
  }

  .column__related-list {
    width: 100%;
  }

  .column__related-item {
    margin-bottom: get_vw(18);
    background: var(--main-color-white);
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgba(87, 98, 94, 0.5));

    @include sp {
      margin-bottom: get_vw(10, 375);
    }
  }

  .column__related-link {
    display: flex;
    padding: get_vw(30) get_vw(37);
    align-items: center;
    gap: 0 get_vw(40);

    @include sp {
      padding: get_vw(20, 375);
      flex-direction: column;
      gap: 0;
    }
  }

  .column__related-img {
    width: get_vw(200);

    @include sp {
      width: 100%;
      margin-bottom: get_vw(15, 375);
    }
  }

  .column__related-body {
    width: 100%;
  }

  .column__related-label {
    display: inline-flex;
    width: auto;
    margin-bottom: get_vw(15);
    padding: get_vw(6) get_vw(8);
    align-items: center;
    justify-content: center;
    background: var(--footer--other--orange);
    color: var(--main-color-white);
    font-size: calcFz(14);
    font-weight: bold;

    @include sp {
      margin-bottom: get_vw(15, 375);
      padding: get_vw(8, 375);
    }
  }

  .column__related-title {
    margin-bottom: get_vw(25);
    color: var(--main-color);
    font-size: calcFz(20);
    font-weight: bold;
    line-height: 1.5;

    @include sp {
      margin-bottom: get_vw(15, 375);
      font-size: calcFz(18);
    }
  }

  .column__related-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--main-color-black);
    font-size: calcFz(16);
    line-height: 1.75;

    @include sp {
      font-size: calcFz(14);
    }
  }
}
