.medical-detail-contents{
  background-color: #EFF4F3;


  .medical-detail-top-wrapper{
    padding: clamp(10px,get_vw(40),40px) 0 0;
    width: 100vw;
    height: clamp(10px,get_vw(580),580px);
    background-image: url("../images/medical_detail/medical-detail-top-background.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: clamp(10px,get_vw(40),40px);

    @include sp {
      padding: 20px 0 0;
    }

    .medical-detail-top{

      display: flex;
      width: clamp(10px,get_vw(1188),1188px);
      height: 100%;
      margin: 0 auto;
      position: relative;

      @include sp {
        flex-direction: column;
      }

      &__left{

        width: clamp(10px,get_vw(526),526px);
        margin-right: clamp(10px,get_vw(50),50px);

        @include sp {
          width: clamp(10px,get_vw(526),526px);
        }

        img{
          width: 100%;
        }

      }

      &__right{

        display: flex;
        margin-top: clamp(10px,get_vw(50),50px);

        &_txtArea{

          width: clamp(10px,get_vw(380),380px);

          &_tab{

            background-color: var(--footer--other--orange);
            display: inline-block;
            padding: clamp(10px,get_vw(12),12px) clamp(10px,get_vw(20),20px);
            border-radius: 20px;
            margin-bottom: clamp(10px,get_vw(20),20px);

            p{
              font-family: $fontFamilyYuGo;
              font-size: calcFz(16);
              font-weight: 600;
              letter-spacing: 0.01em;
              color: #fff;
            }

          }

          &_ttl{

            margin-bottom: clamp(10px,get_vw(40),40px);

            p{
              font-family: $fontFamilyYuGo;
              font-size: calcFz(41);
              font-weight: 600;
              letter-spacing: 0.02em;
              color: var(--main-color-bg);
            }

          }

          &_txt{

            margin-bottom: clamp(10px,get_vw(50),50px);

            p{
              font-family: $fontFamilyYuGo;
              font-size: calcFz(18);
              font-weight: 300;
              letter-spacing: 0.02em;
              line-height: 1.77;
            }

          }

          &_soreSpot{

            &_sore{
              font-family: $fontFamilyYuGo;
              font-size: calcFz(20);
              font-weight: 600;
              letter-spacing: 0.02em;
              color: var(--main-color);
              margin-bottom: clamp(10px,get_vw(16),16px);
            }

            &_spot{

              display: flex;
              flex-wrap: wrap;

              &_detail{

                border:1px solid  var(--main-color);
                background-color: #fff;
                width: clamp(10px,get_vw(100),100px);
                padding: 8px 0;
                text-align: center;
                margin-right: 10px;

                p{
                  font-family: $fontFamilyYuGo;
                  font-size: calcFz(20);
                  font-weight: 600;
                  letter-spacing: 0.02em;
                  color: var(--main-color);
                }


              }

            }

          }

        }

      }

      &__img{
        position: absolute;
        top: clamp(10px,get_vw(50),50px);
        right: 0;
        width: clamp(10px,get_vw(295),295px);

        img{
          width: 100%;
        }

      }

    }

  }

  .medical-detail-imdexArea{
    width: clamp(10px,get_vw(1117),1117px);
    margin: 0 auto clamp(10px,get_vw(80.5),80.5px);
    display: flex;
    justify-content: space-between;
  }


}
