.price-contents{
  background-color: #EFF4F3;
  padding: clamp(10px,get_vw(113),113px) 0 clamp(10px,get_vw(200),200px);

  @include sp {
    padding: 60px 0 100px;
  }

  .contents-box{
    width: clamp(10px,get_vw(900),900px);
    margin: 0 auto;
    margin-bottom: clamp(10px,get_vw(60),60px);

    &:nth-last-child(1){
      margin-bottom: 0;
    }

    @include sp {
      width: 90%;
      margin-bottom: 40px;
    }

    &_cat{
      width: 100%;
      padding: clamp(10px,get_vw(20),20px) 0;
      background-color: var(--main-title-background-color);
      border-radius: 5px 5px 0 0;

      @include sp {
        padding: 8px 0;
      }

      p{
        font-family: $fontFamilyYuGo;
        font-size: calcFz(22);
        color: #fff;
        text-align: center;

        @include sp {
          font-size: calcFz(16);
          text-align: left;
          margin-left: 17px;
        }

      }

    }

    &_menu{
      width: 100%;
      background-color: #FFFFFF;
      border: 1px solid #CADAD4;
      border-radius: 0 0 5px 5px;
      margin-bottom: clamp(10px,get_vw(20),20px);


      @include sp {
        margin-bottom: 15px;
      }

      .menu_inner{
        width: 100%;
        // padding: clamp(10px,get_vw(25),25px) 0 clamp(10px,get_vw(28),28px);
        height: clamp(10px,get_vw(50),50px);
        display: flex;
        align-items: center;
        border-top: 1px solid #CEDCD9;

        @include sp {
          width: 94.02%;
          padding: 10px 0;
          align-items: flex-start;
        }

        &:nth-child(1){
          border: none;
        }

        &_name{

          width: clamp(10px,get_vw(469),469px);
          text-align: center;
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 clamp(10px,get_vw(20),20px);

          &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #CEDCD9;
          }

          @include sp {
            width: 70%;
          }

          p{
            font-family: $fontFamilyYuGo;
            font-size: calcFz(18);
            font-weight: bold;
            color: #009578;

            @include sp {
              font-size: calcFz(15);
              line-height: 1.7;
            }

          }

        }

        &_minute{

          width: clamp(10px,get_vw(124),124px);
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: 0 clamp(10px,get_vw(20),20px);

          &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #CEDCD9;
          }


          @include sp {
            width: 70%;
          }

          p{
            font-family: $fontFamilyYuGo;
            font-size: calcFz(18);
            font-weight: 300;

            @include sp {
              font-size: calcFz(15);
              line-height: 1.7;
            }

          }

        }

        &_price{

          width: clamp(10px,get_vw(409),409px);
          text-align: center;
          position: relative;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          padding: 0 clamp(10px,get_vw(20),20px);

          p{
            font-family: $fontFamilyDin2014;
            font-size: calcFz(18);
            font-weight: 400;

            @include sp {
              font-size: calcFz(17);
              line-height: 1.7;
            }

          }

        }

      }

    }

    &_caution{
      display: flex;
      justify-content: flex-start;

      &_inner{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;

        img{
          display: block;
          width: clamp(10px,get_vw(20),20px);
          height: clamp(10px,get_vw(20),20px);
          margin-right: 8px;

          @include sp {
            width: 18px;
            height: 18px;
          }

        }

        p{
          color: #6A8381;
          font-family: $fontFamilyYuGo;
          font-size: calcFz(18);
          font-weight: 300;

          @include sp {
            font-size: calcFz(15);
          }

        }

      }


    }

  }


}
