.privacy-policy-contents{
  background-color: #EFF4F3;
  padding: clamp(10px,get_vw(113),113px) 0 0;

  @include sp {
    padding: 60px 0 0;
  }

  .contents-box{
    width: clamp(10px,get_vw(800),800px);
    margin: 0 auto;
    margin-bottom: clamp(10px,get_vw(70),70px);

    &:nth-last-child(1){
      margin-bottom: 0;
    }

    @include sp {
      width: 90%;
      margin-bottom: 40px;
    }

    &__title{
      border-bottom: 2px solid var(--border-color-green);
      padding-bottom: clamp(10px,get_vw(20),20px);
      margin-bottom: clamp(10px,get_vw(40),40px);
      position: relative;

      @include sp {
        padding-bottom: 13px;
        margin-bottom: 20px;
      }

      p{
        font-family: $fontFamilyYuGo;
        font-size: calcFz(24);
        font-weight: bold;
        color: var(--main-color);

        @include sp {
          font-size: calcFz(16);
        }

      }

      &::after{
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: clamp(10px,get_vw(40),40px);
        height: 2px;
        background-color: var(--main-color);

        @include sp {
          width: 7%;
        }

      }

    }

    &__text{

      p{
        font-family: $fontFamilyYuGo;
        font-size: calcFz(18);
        // font-weight: 300;
        line-height: 1.75;

        @include sp {
          font-size: calcFz(15);
        }

      }

    }

    &.lead-box{

      .contents-box__title{
        border-bottom: none;
        padding: clamp(10px,get_vw(15),15px)  clamp(10px,get_vw(20),20px);
        background-color: var(--main-title-background-color);

        @include sp {
          padding: 12px 10px;
          margin-bottom: 30px;
        }

        p{
          font-family: $fontFamilyYuGo;
          font-size: calcFz(27);
          font-weight: bold;
          color: #fff;

          @include sp {
            font-size: calcFz(18);
          }

        }

        &::after{
          width: 0;
          height: 0;
        }

      }
    }

  }

  &.mb200{
    margin-bottom: clamp(10px,get_vw(200),200px);

    @include sp {
      margin-bottom: 100px;
    }

  }

}
