.price-contents{
  background-color: #EFF4F3;
  padding: clamp(10px,get_vw(113),113px) 0 clamp(10px,get_vw(200),200px);

  @include sp {
    padding: 60px 0 100px;
  }

  .contents-box{
    width: clamp(10px,get_vw(900),900px);
    margin: 0 auto;
    margin-bottom: clamp(10px,get_vw(60),60px);

    &:nth-last-child(1){
      margin-bottom: 0;
    }

    @include sp {
      width: 90%;
      margin-bottom: 40px;
    }

    &_cat{
      width: 100%;
      padding: clamp(10px,get_vw(20),20px) 0;
      background-color: var(--main-title-background-color);
      border-radius: 5px 5px 0 0;
      border: 1px solid #CADAD4;
      border-bottom: 0;

      @include sp {
        padding: 8px 0;
      }

      p{
        font-family: $fontFamilyYuGo;
        font-size: calcFz(22);
        color: #fff;
        text-align: center;

        @include sp {
          font-size: calcFz(16);
          text-align: left;
          margin-left: 17px;
        }

      }

    }

    &_menu{
      width: 100%;
      background-color: #FFFFFF;
      border: 1px solid #CADAD4;
      border-radius: 0 0 5px 5px;
      border-top: 0;


      @include sp {
        margin-bottom: 15px;
      }

      .menu_inner{
        width: 100%;
        display: flex;
        align-items:stretch;
        border-top: 1px solid #CEDCD9;

        @include sp {
          width: 100%;
          height: auto;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        &:nth-child(1){
          border: none;
        }

        &_name{

          width: clamp(10px,get_vw(469),469px);
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding:clamp(10px,get_vw(20),20px) clamp(10px,get_vw(20),20px);
          border-right: 1px solid #CEDCD9;

          &.width{
            width: clamp(10px,get_vw(200),200px);
            padding: clamp(10px,get_vw(20),20px) clamp(10px,get_vw(20),20px) clamp(10px,get_vw(21),21px);
          }

          @include sp {
            width: 100%;
            padding: 12.5px 20px;
            align-items: flex-start;
            border-bottom: 1px solid #CEDCD9;
          }

          p{
            font-family: $fontFamilyYuGo;
            font-size: calcFz(18);
            font-weight: 600;
            color: #009578;
            line-height: 1.6;

            &.part{
              margin-top: clamp(10px,get_vw(15),15px);
              font-size: calcFz(14);
              font-weight: 300;
              color: #6A8381;
              line-height: 1.6;
            }

            &.tab{
              width: clamp(10px,get_vw(115),115px);
              margin: 0 auto;
              font-size: calcFz(12);
              font-weight: 600;
              color: #fff;
              background-color: #E5923E;
              line-height: 1.6;
              margin-bottom: 10px;
            }

            @include sp {
              font-size: calcFz(15);
              line-height: 1.7;
            }

          }

        }

        &_minute{

          width: clamp(10px,get_vw(124),124px);
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: clamp(10px,get_vw(20),20px);
          border-right: 1px solid #CEDCD9;

          &.width{
            width: clamp(10px,get_vw(100),100px);
            padding: clamp(10px,get_vw(20),20px) clamp(10px,get_vw(20),20px) clamp(10px,get_vw(21),21px);
          }


          @include sp {
            width: 37%;
            padding: 0;
            padding: 12.5px 20px;
            align-items: flex-start;
            border-right: 1px solid #CEDCD9;
          }

          p{
            font-family: $fontFamilyYuGo;
            font-size: calcFz(18);
            font-weight: 300;
            line-height: 1.6;

            @include sp {
              font-size: calcFz(17);
              line-height: 1.7;
            }

          }

        }

        &_site{

          width: clamp(10px,get_vw(124),124px);
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: clamp(10px,get_vw(20),20px);
          border-right: 1px solid #CEDCD9;


          @include sp {
            width: 37%;
            padding: 0;
            padding: 12.5px 20px;
            align-items: flex-start;
            border-right: 1px solid #CEDCD9;
          }

          p{
            font-family: $fontFamilyYuGo;
            font-size: calcFz(18);
            font-weight: 300;
            line-height: 1.6;

            @include sp {
              font-size: calcFz(17);
              line-height: 1.7;
            }

          }

        }

        &_price{

          width: clamp(10px,get_vw(409),409px);
          text-align: center;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          padding:clamp(10px,get_vw(15),15px) clamp(10px,get_vw(20),20px);

          &.width{
            width: clamp(10px,get_vw(313),313px);
            padding: clamp(10px,get_vw(20),20px) clamp(10px,get_vw(20),20px) clamp(10px,get_vw(21),21px);
          }

          @include sp {
            width: auto;
            padding: 12.5px 20px;
          }

          p{
            font-family: $fontFamilyDin2014;
            font-size: calcFz(18);
            font-weight: 400;
            line-height: 1.6;

            @include sp {
              font-size: calcFz(17);
              line-height: 1.7;
            }

          }

        }

      }

    }

    &_caution{
      display: flex;
      justify-content: flex-start;
      margin-top: clamp(10px,get_vw(20),20px);

      &_inner{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: auto;

        img{
          display: block;
          width: clamp(10px,get_vw(20),20px);
          height: clamp(10px,get_vw(20),20px);
          margin-right: 8px;

          @include sp {
            width: 18px;
            height: 18px;
          }

        }

        p{
          color: #6A8381;
          font-family: $fontFamilyYuGo;
          font-size: calcFz(18);
          font-weight: 300;

          @include sp {
            font-size: calcFz(14);
          }

        }

      }


    }

  }


}
