.top {
  overflow: hidden;

  // 小池css
  .kv {
    position: relative;

    @include sp {
      padding-top: get_vw(23, 375);
    }

    .bg-triangle-l {
      position: absolute;
      width: get_vw(302);
      top: get_vw(475);
    }

    .kv__float-text {
      color: #358b81;
      font-size: calcFz(13);
      transform: translateY(-50%) rotate(270deg);
      text-align: center;
      position: absolute;
      top: 45%;
      left: -6em;

      @include sp {
        top: initial;
        bottom: 7.5em;
        left: -7em;
        font-size: calcFz(10);
      }
    }

    .kv__swiper-pagination {
      position: absolute;
      width: auto;
      bottom: 50%;
      left: calc(7% - 20px);

      @include sp {
        top: get_vw(23, 375);
        bottom: initial;
      }

      .swiper-pagination-bullet {
        display: block;
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px));
        margin: 15px var(--swiper-pagination-bullet-horizontal-gap, 4px);
        background-color: var(--btn-color-orange);
        opacity: 1;

        @include sp {
          margin: 9px var(--swiper-pagination-bullet-horizontal-gap, 4px);
        }

        &-active {
          width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
          height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
          margin: 15px var(--swiper-pagination-bullet-horizontal-gap, 2px);
          opacity: 1;

          @include sp {
            margin: 9px var(--swiper-pagination-bullet-horizontal-gap, 2px);
          }
        }

        &:first-child {
          @include sp {
            margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px) 9px;
          }

          &.swiper-pagination-bullet-active {
            &:first-child {
              @include sp {
                margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 2px);
              }
            }
          }
        }
      }
    }

    .kv__swiper {
      width: 93%;
      margin: 0 0 0 auto;
      overflow: hidden;

      .swiper-wrapper {
        width: 100%;

        .swiper-slide {
          width: 100%;
          position: relative;

          .kv_img {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .txtArea {
            width: 45%;
            position: absolute;
            top: 50%;
            right: get_vw(91);
            transform: translateY(-50%);

            @include sp {
              width: 93.5%;
              top: initial;
              right: initial;
              bottom: 0;
              left: 0;
              transform: translateY(0);
            }

            .txtArea__head {
              color: var(--main-color-white);
              font-size: calcFz(100);
              font-family: $fontFamilyDin2014;
              line-height: 1.3;

              @include sp {
                padding-left: get_vw(12, 375);
                font-size: calcFz(50);
              }
            }

            .txtArea__label {
              display: inline-block;
              margin-bottom: get_vw(19);
              padding: get_vw(12) get_vw(28) get_vw(12) get_vw(15);
              color: var(--main-color-white);
              background: #00A384;
              font-size: calcFz(19);
              font-weight: bold;
              clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);

              @include sp {
                font-size: calcFz(18);
                margin-bottom: get_vw(11, 375);
                padding: get_vw(12, 375) get_vw(22, 375) get_vw(12, 375) get_vw(15, 375);
              }
            }

            .txtArea__sub-title {
              margin-bottom: get_vw(31);
              color: var(--main-color-white);
              font-size: calcFz(32);
              font-weight: bold;

              @include sp {
                margin-bottom: get_vw(18, 375);
                padding-left: get_vw(16, 375);
                line-height: 1.2;
              }
            }

            .txtArea__text {
              margin-bottom: get_vw(31);
              color: var(--main-color-white);
              font-size: calcFz(18);
              line-height: 1.88;
            }

            .white_txt {
              .date {
                margin-left: 7%;
                position: relative;
                color: var(--main-color-white);
                font-size: calcFz(66);
                line-height: 1;

                @include sp {
                  font-size: calcFz(38);
                }

                &::after {
                  position: absolute;
                  top: 50%;
                  transform: translate(0,-50%) rotate(-90deg);
                  left: -7%;
                  content:"2022";
                  color: var(--main-color-white);
                  font-size: calcFz(23);

                  @include sp {
                    font-size: calcFz(13);
                  }
                }
              }
            }

            .feature__box {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .feature__circle {
                position: relative;
                width: get_vw(164);
                height: get_vw(164);
                background: translate;
                border: 1px solid var(--main-color-white);
                border-radius: 50%;

                .feature__circle-text {
                  position: absolute;
                  width: 100%;
                  color: var(--main-color-white);
                  font-family: $fontFamilyHiraGo;
                  font-size: calcFz(16);
                  font-weight: 600;
                  top: 50%;
                  left: 50%;
                  line-height: 1.3;
                  text-align: center;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }

  .medical-menu {
    width: 83%;
    margin: 0 auto;
    padding: get_vw(94) 0 get_vw(250);

    @include sp {
      width: 89%;
    }

    .section-title__wrapper {
      margin-bottom: get_vw(111);
    }

    .medical-menu__list {
      display: grid;
      padding-bottom: get_vw(40);
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 4px;

      @include sp {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
      }
    }

    .medical-menu__item {
      position: relative;
      padding: 0 get_vw(35) get_vw(30);
      background: var(--main-color-white);
      border-radius: 10px;

      @include sp {
        padding: get_vw(10, 375) get_vw(18, 375) get_vw(10, 375) get_vw(15, 375);
      }

      &.medical-menu__item--01 {
        grid-area: 1 / 1 / 2 / 2;

        @include sp {
          grid-area: 1 / 1 / 2 / 2;
        }
      }

      &.medical-menu__item--02 {
        grid-area: 1 / 2 / 2 / 3;

        @include sp {
          grid-area: 2 / 1 / 3 / 2;
        }
      }

      &.medical-menu__item--03 {
        grid-area: 1 / 3 / 2 / 4;

        @include sp {
          grid-area: 3 / 1 / 4 / 2;
        }
      }

      &.medical-menu__item--04 {
        grid-area: 1 / 4 / 2 / 5;

        @include sp {
          grid-area: 4 / 1 / 5 / 2;
        }
      }

      &.medical-menu__item--05 {
        grid-area: 2 / 1 / 3 / 3;
        padding: get_vw(27) get_vw(37) get_vw(30) get_vw(30);

        @include sp {
          grid-area: 5 / 1 / 6 / 2;
        }

        .symptoms__list {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          @include sp {
            flex-direction: row;
          }

          .symptoms__item {
            width: 48%;

            @include sp {
              width: 100%;
            }
          }
        }
      }

      &.medical-menu__item--06 {
        grid-area: 2 / 3 / 3 / 5;
        padding: get_vw(27) get_vw(37) get_vw(30) get_vw(30);

        @include sp {
          grid-area: 6 / 1 / 7 / 2;
        }

        .symptoms__list {
          padding-top: get_vw(60);
        }
      }

      &.medical-menu__item--dg {
        display: grid;
        align-items: flex-start;
        grid-template-columns: get_vw(130) auto;
        grid-template-rows: get_vw(33) auto;
        grid-column-gap: get_vw(30);
        grid-row-gap: get_vw(30);

        @include sp {
          display: block;
        }

        .medical-menu__head-img {
          grid-area: 1 / 1 / 3 / 2;
        }

        .medical-menu__accordion {
          grid-area: 1 / 2 / 2 / 3;
        }

        .symptoms__list {
          grid-area: 2 / 2 / 3 / 3;
        }
      }

      .symptoms__list {
        display: flex;
        width: 100%;
        flex-direction: column;

        .symptoms__item {
          display: flex;
          height: 54px;
          margin-bottom: 8px;
          align-items: center;
          background: var(--main-color-white);
          border: 1px solid #E7EDEC;
          border-radius: 6px;
          font-size: calcFz(17);
          font-weight: bold;
          // filter: drop-shadow(2px 2px 2px rgba(182, 200, 193, .5)); // 本番公開用

          @include sp {
            font-size: calcFz(15);
          }

          &:after {
            // content: '';　// 本番公開用
            position: absolute;
            width: get_vw(34);
            height: get_vw(34);
            background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: get_vw(10);

            @include sp {
              width: 33px;
              height: 34px;
              right: get_vw(10, 375);
            }
          }

          &:hover {
            // border: 1px solid var(--main-color);　// 本番公開用

            &:after {
              // background-image: url(#{$img-root-dir}/icon/icon-arrow-circle-right--green.svg);　// 本番公開用
            }
          }

          .symptoms__link {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            // padding: 0 get_vw(65) 0 get_vw(10); // 本番公開用
            padding: 0 get_vw(10);
            align-items: center;
            pointer-events: none; // ティザー用

            @include sp {
              padding: get_vw(10, 375);
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
            }
          }

          .symptoms__note {
            padding-left: get_vw(10);
            font-size: calcFz(13);
            font-weight: 300;

            @include sp {
              margin-top: 7px;
            }
          }
        }
      }
    }

    .medical-menu__head {
      display: flex;
      margin-bottom: get_vw(29);
      align-items: center;
      flex-direction: column;

      @include sp {
        display: flex !important;
        flex-direction: row;
      }

      .medical-menu__head-img {
        width: 90px !important;
        margin-bottom: get_vw(22);

        @include sp {
          margin-top: 0 !important;
          margin-bottom: 0;
        }

        &.icon-shoulder {
          width: get_vw(151);
          margin-top: get_vw(-32);
        }

        &.icon-lower-back {
          width: get_vw(142);
          margin-top: get_vw(-23)
        }

        &.icon-lower-limbs {
          width: get_vw(151);
          margin-top: get_vw(-32)
        }

        &.icon-knee {
          width: get_vw(142);
          margin-top: get_vw(-32)
        }

        &.icon-sports-injury {
          width: get_vw(150);
          margin-bottom: 0;
        }

        &.icon-growing-pain {
          width: get_vw(150);
          margin-bottom: 0;
        }
      }

      .medical-menu__accordion {
        color: var(--main-color);
        font-size: calcFz(22);
        font-weight: bold;
        pointer-events: none;

        @include sp {
          margin: 0 auto;
          color: var(--main-color-black);
          font-size: calcFz(16);
        }
      }
    }

    .medical-menu-line {
      width: 100%;
      background: #DDE8E6;
      border-radius: 10px;

      .medical-menu-line__inner {
        display: flex;
        padding: get_vw(27) 0;
        align-items: center;
        justify-content: center;

        .medical-menu-line__text {
          margin-right: get_vw(44);
          font-size: calcFz(18);
          font-weight: bold;
        }

        .medical-menu-line__link {
          padding: get_vw(15) get_vw(42) get_vw(15) get_vw(37);
          background: var(--btn-color-orange);
          border-radius: 30px;
          color: var(--main-color-white);
          font-size: calcFz(19);
          font-weight: bold;
          filter: drop-shadow(2px 3px 3px rgba(24, 37, 63, .02));

          span {
            position: relative;
            padding-left: get_vw(40);

            &:before {
              content: '';
              position: absolute;
              width: get_vw(25);
              height: get_vw(23);
              background-image: url(#{$img-root-dir}/icon/icon-line--white.svg);
              background-position: left center;
              background-repeat: no-repeat;
              background-size: contain;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }

  .message {
    position: relative;
    width: 83%;
    margin: 0 auto get_vw(20);
    background: var(--main-color-white);
    border-radius: 20px;

    .bg-triangle-r {
      position: absolute;
      top: get_vw(-237);
      right: -12%;
      z-index: -1;
    }

    .message__inner {
      padding: get_vw(133) get_vw(98);

      .message__top {
        display: flex;

        .message__img {
          position: relative;
          width: 255%;
          margin-top: calc(get_vw(-133) + get_vw(-100));
          margin-left: calc(get_vw(-98) + -16%);

          .message__img-bg {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .message__wrapper {
          margin-left: get_vw(104);

          .message__label {
            display: inline-block;
            padding: get_vw(8) get_vw(13);
            margin-bottom: get_vw(28);
            background: #008B86;
            color: var(--main-color-white);
            font-size: calcFz(20);
            font-weight: bold;
          }

          .message__title {
            margin-bottom: get_vw(45);
            color: var(--main-color);
            font-size: calcFz(38);
            font-weight: bold;
            line-height: 1.5;
          }

          .message__text {
            margin-bottom: get_vw(45);
            font-size: calcFz(18);
            line-height: 1.75;
          }

          .message__director {
            margin-bottom: get_vw(83);
            font-size: calcFz(18);
            line-height: 1.75;
            text-align: right;
          }
        }
      }
    }

    .profile {
      background: var(--base-color);

      &.profile-open {
        .profile__main {
          display: block;
        }

        .profile__accordion-circle {
          &:after {
            content: none !important;
          }
        }
      }

      .profile__accordion-head {
        padding: 22px;
        text-align: center;

        .profile__accordion {
          display: flex;
          width: 100%;
          margin: 0 auto;
          align-items: center;
          justify-content: center;
          color: var(--main-color);
          font-size: calcFz(22);
          font-weight: bold;

          .profile__accordion-circle {
            position: relative;
            display: inline-block;
            width: get_vw(34);
            height: get_vw(34);
            margin-left: get_vw(20);
            background: var(--main-color-white);
            border-radius: 50%;

            &:before {
              content: '';
              position: absolute;
              width: 47%;
              height: 2px;
              margin: 0 auto;
              background: #00a384;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &:after {
              content: '';
              position: absolute;
              width: 47%;
              height: 2px;
              margin: 0 auto;
              background: #00a384;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
      }

      .profile__main {
        display: none;

        .profile__inner {
          padding: get_vw(56) get_vw(73);
        }

        .profile__body {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 20px 0;

          .profile__item {
            width: calc(50% - 15px);

            &:last-child {
              align-self: center;
            }

            .profile__head {
              position: relative;
              margin-bottom: get_vw(14);
              color: var(--main-color);
              font-size: calcFz(20);
              font-weight: bold;

              &:before {
                content: '';
                position: absolute;
                width: calc(100% - 2.5em);
                height: 1px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: var(--main-color);
              }
            }

            .profile__text {
              font-size: calcFz(16);
              line-height: 1.66;
            }

            .profile__img-wrapper {
              display: flex;
              justify-content: space-between;

              .profile__img {
                width: calc(50% - 6px);
              }
            }
          }
        }
      }
    }
  }

  .clinic-features {
    padding-top: get_vw(179);
    background: var(--main-color);
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);

    .clinic-features__wrapper {
      position: relative;

      .section-title__wrapper {
        position: absolute;
        width: auto;
        top: 0;
        right: get_vw(222);
      }

      .clinic-features__head-wrapper {
        position: relative;
        display: flex;
        align-items: flex-start;
        color: var(--main-color-white);
        font-family: $fontFamilyDin2014;

        .clinic-features__head-label {
          position: absolute;
          transform: translate(-50%, -50%) rotate(-90deg);
          top: 50%;
          left: -1em;
          font-size: calcFz(16);
        }

        .clinic-features__head {
          color: var(--main-color-white);
          font-size: calcFz(111);
        }
      }

      .clinic-features__01 {
        position: relative;
        padding: get_vw(115) 0 get_vw(90);

        .clinic-features__01-img-wrapper {
          clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
        }

        .clinic-features__01-body {
          position: absolute;
          top: calc(get_vw(115) + get_vw(197));
          left: get_vw(222);

          .clinic-features__head-wrapper {
            font-size: calcFz(20);

            .clinic-features__head-label {
              top: 40%;
            }

            .clinic-features__head {
              font-size: calcFz(174);
            }
          }
        }

        .clinic-features__01-main {
          display: flex;
          flex-direction: column;

          p {
            display: inline-block;
            width: fit-content;
            padding: 0.3em;
            background: var(--main-color-white);
          }

          .clinic-features__01-main-title {
            margin-bottom: 4px;
            color: var(--main-color);
            font-size: calcFz(41);
            font-weight: bold;
          }

          .clinic-features__01-main-sub-title {
            margin-bottom: get_vw(34);
            color: var(--main-color);
            font-size: calcFz(21);
            font-weight: bold;
          }

          .clinic-features__01-main-text {
            margin-bottom: 5px;
            font-size: calcFz(18);
            font-weight: bold;
          }
        }
      }

      .clinic-features__02 {
        padding-bottom: get_vw(163);

        .clinic-features__02-wrapper {
          display: flex;

          .clinic-features__02-left {
            position: relative;
            padding-left: get_vw(135);

            &:before {
              content: '';
              position: absolute;
              width: get_vw(371);
              height: get_vw(376);
              top: 0;
              left: 0;
              background-image: url(#{$img-root-dir}/bg-dot--white.svg);
              background-repeat: no-repeat;
              background-size: contain;
            }

            .clinic-features__02-left-body {
              .clinic-features__02-left-head {
                display: flex;
                margin-bottom: get_vw(49);
                align-items: center;

                .clinic-features__sub-title {
                  margin-left: get_vw(33);
                  color: var(--main-color-white);
                  font-size: calcFz(30);
                  font-weight: bold;
                  line-height: 1.5;
                }
              }

              .clinic-features__02-left-text {
                color: var(--main-color-white);
                font-size: calcFz(18);
                line-height: 1.75;
              }
            }
          }

          .clinic-features__02-right {
            width: 100%;
          }
        }
      }

      .clinic-features__03 {
        padding-bottom: get_vw(237);

        .clinic-features__03-wrapper {
          display: flex;
          align-items: flex-start;

          .clinic-features__03-left {
            margin-right: get_vw(83);
          }

          .clinic-features__03-center {
            position: relative;
            width: 100%;
            top: get_vw(60);

            &:before {
              content: '';
              position: absolute;
              width: get_vw(370);
              height: get_vw(370);
              top: 50%;
              right: 0;
              background-image: url(#{$img-root-dir}/bg-dot--white.svg);
              background-repeat: no-repeat;
              background-size: contain;
            }

            .clinic-features__head-wrapper {
              margin-bottom: get_vw(21);
            }

            .clinic-features__sub-title {
              margin-bottom: get_vw(31);
              color: var(--main-color-white);
              font-size: calcFz(30);
              font-weight: bold;
              line-height: 1.5;
            }

            .clinic-features__03-text {
              width: 80%;
              color: var(--main-color-white);
              font-size: calcFz(18);
              line-height: 1.75;
            }
          }

          .clinic-features__03-right {
            position: relative;
            top: get_vw(329);
          }
        }
      }

      .clinic-features__04 {
        padding-bottom: get_vw(246);

        .clinic-features__04-wrapper {
          display: flex;

          .clinic-features__04-left {
            margin-right: get_vw(120);
          }

          .clinic-features__04-right {
            position: relative;
            padding-right: get_vw(81);
            top: get_vw(20);

            &:before {
              content: '';
              position: absolute;
              width: get_vw(370);
              height: get_vw(370);
              top: 15%;
              right: 15%;
              background-image: url(#{$img-root-dir}/bg-dot--white.svg);
              background-repeat: no-repeat;
              background-size: contain;
            }

            .clinic-features__head-wrapper {
              padding-bottom: get_vw(21);
            }

            .clinic-features__sub-title {
              margin-bottom: get_vw(31);
              color: var(--main-color-white);
              font-size: calcFz(30);
              font-weight: bold;
              line-height: 1.5;
            }

            .clinic-features__04-text {
              color: var(--main-color-white);
              font-size: calcFz(18);
              line-height: 1.75;
            }
          }
        }
      }
    }
  }

  .treatment {
    padding-bottom: get_vw(56);
    .treatment-wrapper {
      .section-title__wrapper {
        width: 83%;
        margin: 0 auto get_vw(104);
      }

      .treatment__list {
        .treatment__item {
          display: flex;
          margin-bottom: get_vw(120);
          align-items: center;

          &:nth-child(odd) {
            .treatment__left {
              padding: get_vw(112) get_vw(80) 0 get_vw(129);
            }
          }

          &:nth-child(even) {
            .treatment__right {
              padding: get_vw(112) get_vw(129) 0 get_vw(80);
            }
          }

          .treatment__left {
            width: 60%;
          }

          .treatment__title {
            position: relative;
            display: flex;
            margin-bottom: get_vw(21);
            align-items: center;
            font-size: calcFz(36);
            font-weight: bold;

            img {
              width: get_vw(86);
              height: get_vw(86);
              margin-right: get_vw(18);
            }

            &.treatment__title--regenerative {
            }

            &.treatment__title--rehabilitation {
            }

            &.treatment__title--physical {
            }
          }

          .treatment__text {
            margin-bottom: get_vw(53);
            font-size: calcFz(18);
            line-height: 1.75;
          }

          .treatment-detail__list {
            display: flex;
            width: 100%;
            flex-direction: column;

            .treatment-detail__item {
              display: flex;
              height: 48px;
              margin-bottom: 8px;
              padding: 0 get_vw(20) 0 get_vw(25);
              align-items: center;
              background: var(--main-color-white);
              border-radius: 6px;
              font-size: calcFz(18);
              font-weight: bold;

              .treatment-detail__text {
                position: relative;
                padding-left: get_vw(17);

                &:before {
                  content: '';
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  border-radius: 50%;
                  background: var(--main-color);
                }
              }
            }
          }
        }
      }
    }
  }
}
