@use "sass:math";

.contentsBox_ttl{

  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: clamp(10px,get_vw(20),20px);
  border-bottom: 2px solid var(--border-color-green);
  position: relative;

  @include sp {
    align-items: flex-start;
    padding-bottom: 11.4px;
  }

  &::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: clamp(10px,get_vw(75),75px);
    height: 2px;
    background-color: var(--main-color);

    @include sp {
      width: 13.5%;
    }

  }

  .contentsBox_ttl_img{
      width: clamp(10px,get_vw(75),75px);
      margin-right: clamp(10px,get_vw(17),17px);

      @include sp {
        width: 40px;
        margin-right: 12px;
      }

    img{
      width: 100%;
    }

  }

  .contentsBox_ttl_txt{


    p{

      font-family: $fontFamilyYuGo;
      font-size: calcFz(28);
      font-weight: 600;

      @include sp {
        font-size: calcFz(22);
        line-height: 1.6;
      }

    }

  }


}



