@use "sass:math";
.section-title__wrapper {
  position: relative;

  &.--white {
    .section-title {
      color: #fff;
    }
    .section-sub-title {
      color: var(--main-color);

      &:before {
        background: var(--main-color);
      }
    }
  }

  &.--light_green {
    .section-title {
      color: #1BA087;
    }

    .section-sub-title {
      width: 100%;
      color: #fff;
      font-size: calcFz(36);
    }
  }

  &.--green {
    .section-title {
      color: #12A88C;
    }

    .section-sub-title {
      color: var(--main-color-white);

      &:before {
        background: var(--main-color-white);
      }
    }
  }

  &.--left {
    text-align: left;

    .section-sub-title {
      left: 0;
    }
  }

  &.--center {
    text-align: center;

    .section-sub-title {
      left: 50%;
      transform: translateX(-50%);

      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.--right {
    text-align: right;

    .section-sub-title {
      right: 0;

      &:before {
        right: 0;
      }
    }
  }

  &.--small {
    .section-title {
      font-size: calcFz(98);

      @include sp {
        font-size: calcFz(55);
      }
    }

    .section-sub-title {
      font-size: calcFz(42);

      @include sp {
        font-size: calcFz(24);
      }
    }
  }

  .section-title {
    display: inline-block;
    font-family: $fontFamilyDin2014;
    font-size: calcFz(115);
    font-weight: bold;

    @include sp {
      font-size: calcFz(55);
    }
  }

  .section-sub-title {
    position: absolute;
    padding-bottom: get_vw(35);
    bottom: math.div(get_vw(-98), 2.5);
    font-size: calcFz(46);
    font-weight: bold;

    @include sp {
      width: 100%;
      // padding-bottom: get_vw(25, 375);
      font-size: calcFz(24);
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 1.5em;
      height: 2px;
      bottom: 0;

      @include sp {
        bottom: -10px;
      }
    }
  }
}

.btn {
  padding: 20px 0;
  border-radius: 5px;
  font-size: calcFz(19);
  font-weight: bold;
  text-align: center;

  &.btn--orange {
    color: var(--main-color-white);
    background: var(--btn-color-orange);
  }

  &.btn--white {
    background: var(--main-color-white);
  }

  &.btn--shadow {
    filter: drop-shadow(5px 5px 5px rgba(15, 78, 69, .5))
  }

  &.btn--tel {
    span {
      position: relative;
      padding-left: get_vw(40);

      @include sp {
        padding-left: get_vw(40, 375);
      }

      &:before {
        content: '';
        position: absolute;
        width: get_vw(25);
        height: get_vw(23);
        background-image: url(#{$img-root-dir}/icon/icon-tel--gray.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include sp {
          width: get_vw(29, 375);
          height: get_vw(29, 375);
        }
      }
    }
  }

  &.btn--tel_white {
    span {
      position: relative;
      padding-left: get_vw(40);

      @include sp {
        padding-left: get_vw(40, 375);
      }

      &:before {
        content: '';
        position: absolute;
        width: get_vw(25);
        height: get_vw(23);
        background-image: url(#{$img-root-dir}/icon/icon-tel--white_g.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include sp {
          width: get_vw(29, 375);
          height: get_vw(29, 375);
        }
      }
    }
  }

  &.btn--line {
    span {
      position: relative;
      padding-left: get_vw(40);

      @include sp {
        padding-left: get_vw(30, 375);
      }

      &:before {
        content: '';
        position: absolute;
        width: get_vw(25);
        height: get_vw(23);
        background-image: url(#{$img-root-dir}/icon/icon-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include sp {
          width: get_vw(22, 375);
          height: get_vw(20, 375);
        }
      }
    }
  }

  &.btn--line_white {
    span {
      position: relative;
      padding-left: get_vw(40);

      @include sp {
        padding-left: get_vw(30, 375);
      }

      &:before {
        content: '';
        position: absolute;
        width: get_vw(25);
        height: get_vw(23);
        background-image: url(#{$img-root-dir}/icon/icon-line--white.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @include sp {
          width: get_vw(22, 375);
          height: get_vw(20, 375);
        }
      }
    }
  }
}
