.footer {
  width: 100%;

  .footer-access {
    width: 100%;
    background: #DFEBE8;

    .footer-access__inner {
      display: flex;
      padding: get_vw(76) 0 get_vw(125) get_vw(129);
      align-items: center;

      .footer-access__left {
        .section-title__wrapper {
          margin-bottom: get_vw(107);
        }

        .footer-access__info {
          margin-bottom: get_vw(29);

          .footer-access__info-name {
            margin-bottom: get_vw(19);
            color: var(--main-color-black);
            font-size: calcFz(21);
            font-weight: bold;
          }

          .footer-access__info-address {
            margin-bottom: get_vw(20);
            color: var(--main-color-black);
            font-size: calcFz(19);
            font-weight: 300;
            line-height: 1.75;
          }

          .footer-access__info-link {
            margin-left: 10px;
            color: var(--main-color);
            font-size: calcFz(18);
            font-weight: bold;
            text-decoration: underline;
          }

          .footer-access__info-tel {
            position: relative;
            padding-left: get_vw(46);
            color: var(--main-color-black);
            font-family: $fontFamilyDin2014;
            font-size: calcFz(27);

            &:before {
              content: '';
              position: absolute;
              display: block;
              width: get_vw(31);
              height: get_vw(31);
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              background-image: url(#{$img-root-dir}/icon/icon-tel--white_g.svg);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: left;
            }
          }
        }
        .footer-access__time {
          .footer-access__close {
            display: flex;
            margin-bottom: get_vw(40);
            align-items: center;
            font-size: calcFz(18);
            font-weight: bold;

            .footer-access__close-title {
              margin-right: get_vw(15);
              color: var(--main-color);
            }
          }
        }
      }
      .footer-access__right {
        margin-left: get_vw(61);
      }
    }
  }

  .footer-contact {
    background: var(--main-color-bg);

    .footer-contact__inner {
      width: 46%;
      margin: 0 auto;
      padding: get_vw(78) 0 get_vw(125);

      .section-title__wrapper {
        margin-bottom: get_vw(39);

        .footer-contact__text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .footer-contact__text {
        margin-bottom: get_vw(40);
        color: var(--main-color-white);
        font-size: calcFz(18);
        text-align: center;
        line-height: 1.75;
      }

      .footer-contact__text-sub {
        margin-bottom: get_vw(20);
      }

      .footer-contact__sub-title {
        margin-bottom: get_vw(26);
        color: var(--main-color-white);
        font-size: calcFz(20);
        font-weight: bold;
        text-align: center;
      }

      .footer-contact__btn-wrapper {
        display: flex;
        margin-bottom: get_vw(56);
        gap: get_vw(15);

        .btn {
          width: 50%;
        }
      }
    }
  }

  .footer-contact__time {
    background: #1BA087;
    border-radius: 5px;

    .footer-contact__time-inner {
      display: flex;
      padding: get_vw(25) 0 get_vw(25) get_vw(44);
      align-items: center;

      .footer-contact__tel {
        position: relative;
        padding-left: get_vw(60);
        padding-right: get_vw(34);
        color: var(--main-color-white);
        font-family: $fontFamilyDin2014;
        font-size: calcFz(35);

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: get_vw(45);
          height: get_vw(45);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-image: url(#{$img-root-dir}/icon/icon-tel--white_g.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left;
        }
      }

      .footer-contact__time-text {
        color: var(--main-color-white);
        font-size: calcFz(16);
        line-height: 1.5;
      }
    }
  }

  .footer__inner {
    display: flex;
    padding: get_vw(21) get_vw(158) get_vw(140);
    align-items: center;
    justify-content: space-between;
    background: var(--main-color-black);

    @include sp {
      padding: 21px 20px 29px;
      flex-direction: column;
    }

    .footer__logo {
      width: clamp(10px, get_vw(290), 290px);

      @include sp {
        width: 100%;
        max-width: 265px;
        margin: 0 auto 19px;
      }
    }

    .footer__copyright {
      color: var(--main-color-white);
      font-size: calcFz(13);
    }
  }

  .footer-float {
    position: fixed;
    width: 100%;
    background: var(--main-color-white);
    bottom: 0;
    border-top: 1px solid #CADDD9;
    z-index: 10;

    .footer-float__inner {
      display: flex;
      align-items: center;
      justify-content: center;

      .footer-contact__time {
        background: inherit;

        .footer-contact__time-inner {
          padding-left: 0;
        }

        .footer-contact__tel {
          padding-left: get_vw(45);
          padding-right: get_vw(10);
          color: var(--main-color-black);
        }

        .footer-contact__time-text {
          color: var(--main-color-black);
        }
      }

      .footer-float__inner-left {
        padding-right: get_vw(27);

        .footer-contact__btn-wrapper {
          display: flex;
          align-items: center;

          .btn {
            display: block;
            min-width: get_vw(240);
            max-width: get_vw(240);
            filter: none;

            &:first-child {
              margin-right: get_vw(10);
            }

            &.btn--white {
              border: 1px solid #D1DBD8;
            }
          }
        }
      }

      .footer-float__inner-right {
        position: relative;
        padding-left: get_vw(27);

        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: calc(100% - 20px);
          padding: 5px 0;
          background: #d1d4db;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}
