.header {
  position: fixed;
  width: 100%;
  height: clamp(10px, get_vw(85), 85px);
  background: var(--base-color);
  transform: translateY(0);
  transition: 0.5s;
  z-index: 100;

  @include sp {
    height: 50px;
    background: #fff;
  }

  &.is-hide {
    transform: translateY(-100%);
  }

  &.header--white {
    background: #fff;
  }

  .header__inner {
    display: flex;
    height: 100%;
    padding: 0 get_vw(40) 0 get_vw(31);
    align-items: center;
    justify-content: space-between;

    @include sp {
      padding: 0 20px;
    }

    .header__left {
      display: flex;
      align-items: center;

      .header__logo {
        width: clamp(10px, get_vw(290), 290px);

        @include sp {
          width: 100%;
          max-width: 246px;
        }
      }

      .header__info {
        display: flex;
        align-items: center;

        .header__icon--tel {
          width: get_vw(35);
        }
      }
    }

    .header__nav {
      height: 100%;

      @include sp {
        display: none;
      }
    }

    .header__dropdown {
      position: absolute;
      display: none;
      width: 100%;
      padding: get_vw(30) get_vw(20);
      background: var(--main-color-white);
      border-radius: 5px;
      top: get_vw(65);
      z-index: 100;

      .header__dropdown-item {
        display: block;
        margin-bottom: get_vw(30);

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.header__dropdown--wide {
        width: 175%;
      }

      .header__dropdown-item-wrapper {
        display: flex;
        width: 100%;
        margin-bottom: get_vw(40);

        .header__dropdown-item {
          margin-bottom: get_vw(40);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .header__dropdown-item-left {
        width: 100%;
      }
      .header__dropdown-item-right {
        width: 100%;
        padding-left: get_vw(26);
        border-left: 1px solid #ddd;
      }
    }

    .header__list {
      display: flex;
      height: 100%;

      .header__item {
        position: relative;
        display: flex;
        margin-right: get_vw(20);
        padding: 0 get_vw(21);
        align-items: center;
        color: #272E2C;
        font-family: $fontFamilyHiraGo;
        font-size: calcFz(17);
        font-weight: bold;

        @include sp {
          display: block;
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        &.header__item--active {
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: 0;
            left: 0;
            background: var(--main-color);
          }
        }

        &:hover {
          .header__dropdown {
            display: block;
          }
        }
      }
      .header__link {
        display: flex;
        height: 100%;
        align-items: center;

        &.header__link--arrow {
          &:before {
            content: ''; // ティザー
            // content: none;
            position: absolute;
            width: get_vw(12);
            height: 100%;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background-image: url(#{$img-root-dir}/icon/icon-arrow-bottom--black.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        &:hover {
          @media screen and (min-width: 768px) {
            color: var(--main-color);
          }
        }
      }
    }
    .header__mobile-nav {
      display: none;

      @include sp {
        display: block;
      }

      &.header__mobile-nav--active {
        .header__drawer {
          @include sp {
            position: fixed;
            display: block;
            width: 100%;
            height: 100vh;
            top: 0;
            right: 0;
            opacity: 1;
            z-index: 100;
          }

          .header__list {
            @include sp {
              width: 100%;
              padding: get_vw(105, 375) get_vw(50, 375);
              background: var(--main-color-white);
              flex-direction: column;
              overflow: scroll;
            }

            .header__item {
              @include sp {
                margin-right: 0;
                padding-right: 0;
                padding-left: 0;
                border-bottom: 1px solid #CEDCD9;
              }
            }

            .header__drawer-list {
              @include sp {
                display: none;
                padding-left: get_vw(15, 375);
                flex-direction: column;
                align-items: flex-start;
              }

              .header__drawer-link {
                @include sp {
                  display: block;
                  margin-bottom: get_vw(30, 375);
                  font-size: calcFz(15);
                  // font-weight: 400;
                  line-height: 1.4;
                }
              }
            }

            .header__link {
              @include sp {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                padding-top: get_vw(28, 375);
                padding-bottom: get_vw(30, 375);
              }

              &:before {
                @include sp {
                  width: 9px;
                }
              }
            }

            .header__circle {
              &:after {
                @include sp {
                  content: '';
                  position: absolute;
                  width: 30px;
                  height: 30px;
                  background-image: url(#{$img-root-dir}/icon/icon-circle-plus.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  top: 50%;
                  right: 0;
                  transform: translateY(-50%);
                }
              }

              &.is-active {
                &:after {
                  @include sp {
                    background-image: url(#{$img-root-dir}/icon/icon-circle-minus.svg);
                  }
                }
              }
            }
          }
        }

        .header__hamburger {
          span {
            &:nth-of-type(1) {
              transform: translateY(6px) rotate(45deg);
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              transform: translateY(-6px) rotate(-45deg);
            }
          }
        }
      }
    }
    .header__hamburger {
      display: none;

      @include sp {
        position: relative;
        display: block;
        width: 28px;
        height: 14px;
        z-index: 101;
      }

      span {
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
        @include sp {
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          background: #159875;
          transition: all .5s;
        }
      }
    }

    .header__drawer {
      @include sp {
        position: absolute;
        top: -100000px;
        left: 0;
        opacity: 0;
        z-index: -1;
        // transition: all .2s linear;
      }
    }
  }

  .header__hamburger-bg {
    &.header__hamburger-bg--active {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, .6);
      z-index: 99;
    }
  }
}
